<!-- BEGIN: Vendor JS-->
<script src="{{baseURL}}app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="{{baseURL}}app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
<script src="{{baseURL}}app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{{baseURL}}app-assets/js/core/app-menu.min.js"></script>
<script src="{{baseURL}}app-assets/js/core/app.min.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{{baseURL}}app-assets/js/scripts/forms/form-login-register.min.js"></script>
<!-- END: Page JS-->
<script src="{{script}}"></script>
