{% extends "admin/layout.html" %} {% block content %}
<div class="content-header row"></div>
<div class="content-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Data Mahasiswa</h4>
          <a class="heading-elements-toggle"
            ><i class="la la-ellipsis-v font-medium-3"></i
          ></a>
          <!-- <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li>
                <button
                  type="button"
                  class="btn btn-success btn-min-width mr-1 mb-1"
                  id="add_mahasiswa"
                  data-toggle="modal"
                  data-target="#modal_add_mahasiswa"
                >
                  <i class="la la-plus"></i> Tambah Mahasiswa
                </button>
              </li>
            </ul>
          </div> -->
        </div>
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <div class="table-responsive">
              <table
                id="all_mahasiswa"
                class="table table-striped table-bordered bootstrap-3"
              >
                <thead>
                  <tr>
                    <th>#No</th>
                    <th>Nama Mahasiswa</th>
                    <th>NPM</th>
                    <th>Angkatan</th>
                    <th>Prodi</th>
                    <th>Status</th>
                    <th>Perwalian</th>
                    <th>Tanggal</th>
                    <!-- <th>Aksi</th> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  tabindex="-1"
  id="modal_add_mahasiswa"
  data-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-person-plus fs-2 me-2"></i> <wrd>Tambah</wrd> Data
          Mahasiswa
        </h5>

        <!--begin::Close-->
        <a class="btn btn-icon" data-dismiss="modal" aria-label="Close">
          <span class="la la-times"></span>
        </a>
        <!--end::Close-->
      </div>

      <form action="addmahasiswa" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" />
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <fieldset>
                <div class="form-group">
                  <h5>Nama Mahasiswa</h5>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id=""
                        ><i class="la la-user"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder=""
                      name="nama"
                      id="nama"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-12">
              <fieldset>
                <div class="form-group">
                  <h5>NPM</h5>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id=""
                        ><i class="la la-info"></i
                      ></span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      placeholder=""
                      name="npm"
                      id="npm"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-12">
              <fieldset>
                <div class="form-group">
                  <h5>Prodi</h5>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="prodi"
                    ><i class="la la-info"></i
                  ></label>
                    </div>
                    <select class="custom-select" id="prodi" name="prodi">
                      <option value="pilih">-Pilih-</option>
                      <option value="d3farmasi">D3 Farmasi</option>
                      <option value="s1farmasi">S1 Farmasi</option>
                    </select>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-12">
              <fieldset>
                <div class="form-group">
                  <h5>Semester</h5>
                  <div class="input-group">
                    <select
                      class="from-control select2"
                      style="width: 100%"
                      id="semester"
                      name="semester"
                    >
                      <option value="0">Pilih..</option>
                      {% for i in 1..8 %}
                      <option value="{{i}}">Semester&nbsp;{{i}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-6">
              <fieldset>
                <div class="form-group">
                  <h5>Status Mahasiswa</h5>
                  <div class="input-group">
                    <input
                      type="checkbox"
                      class="switch"
                      data-on-label="Aktif"
                      data-off-label="Tidak"
                      id="status_mahasiswa"
                      name="status_mahasiswa"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="col-sm-6">
              <fieldset>
                <div class="form-group">
                  <h5>Status Perwalian</h5>
                  <div class="input-group">
                    <input
                      type="checkbox"
                      class="switch"
                      data-on-label="Sudah"
                      data-off-label="Belum"
                      id="status_perwalian"
                      name="status_perwalian"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm mr-1 mb-1"
            data-dismiss="modal"
          >
            <i class="la la-times"></i> Batal
          </button>
          <button type="submit" class="btn btn-success btn-sm mr-1 mb-1">
            <i class="la la-check"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
