{% extends "front/layout.html" %} {% block content %}

<section class="team pt-70 pb-70">
  <div class="container">
    <nav aria-label="breadcrumb" class="fw-bold">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Beranda</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Layanan Perpustakaan Digital
        </li>
      </ol>
    </nav>
    <h2>Perpustakaan Digital</h2>

    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-8">
            <!-- BUTTON API REPOSITORY -->
            <a
              href="#"
              class="btn btn-success"
              style="background-color: var(--mainColor)"
              >Repository Buku Digital <i class="fas fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-xl-4">
            <form>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="search"
                  placeholder="Masukan Nama Buku Yang Dicari"
                  required
                />
                <button
                  class="btn btn-success"
                  style="background-color: var(--mainColor)"
                  type="submit"
                >
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% if results is empty %}
      <h4 class="text-center">Data Tidak Tersedia !</h4>
      {% endif %} {% for item in results %} {% if item.status == 1 %}
      <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="team-card">
          <div class="team-card-img">
            <img src="{{baseURL}}{{item.cover_path}}" alt="image" />
            <div class="team-social-icons">
              <ul>
                <li>
                  <a
                    href="javascript:void(0)"
                    class="readbook"
                    data-url="{{baseURL}}{{item.path}}"
                    data-title="{{item.title}}"
                    ><i class="fa fa-file-pdf"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="team-card-text">
            <h4>{{ item.title }}</h4>
            <h5>{{ item.keterangan }}</h5>
            {% if item.ketersediaan > 0 %}
            <span class="badge bg-success p-2">Tersedia</span>
            {% else %}
            <span class="badge bg-danger p-2">Tidak Tersedia</span>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="events-card">
          <img src="{{item.path}}" alt="image" />
          <div class="events-card-text">
            <ul>
              {% if item.ketersediaan > 0 %}
              <li>Tersedia</li>
              {% else %}
              <li>Tidak Tersedia</li>
              {% endif %}
              <li>{{ item.created_at | date('d F Y') }}</li>
            </ul>
            <h4><a>{{ item.title }}</a></h4>
            <p>
              <a>{{ item.keterangan }}</a>
            </p>
          </div>
        </div>
      </div> -->
      {% endif %} {% endfor %}
    </div>
    <div class="mt-5">{{links|raw}}</div>
  </div>
</section>
<div class="modal fade" tabindex="-1" id="myModal">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title-book"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <iframe
          src=""
          frameborder="0"
          id="iframe-readbook"
          style="width: 100%; height: 100%"
        ></iframe>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success btn-sm"
          data-bs-dismiss="modal"
        >
          <i class="fa fa-times"></i>
          Tutup
        </button>
      </div>
    </div>
  </div>
</div>

<button
  type="button"
  class="btn btn-primary d-none"
  id="btn-login-temp"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Launch static backdrop modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="form-temp-login">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="staticBackdropLabel">
            Login Untuk Melanjutkan
          </h5>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <label for="" class="form-control-label">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              placeholder="Masukan Username"
            />
          </div>
          <div class="form-group mb-3">
            <label for="" class="form-control-label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Masukan Password"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="d-none"
            data-bs-dismiss="modal"
            id="button-dismiss-login"
          ></button>
          <a href="/" class="btn btn-secondary btn-sm"> Kembali Ke Beranda </a>
          <button type="submit" class="btn btn-success btn-sm">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button
  type="button"
  class="d-none btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#myModal"
  id="btn-modal"
></button>

<button
  type="button"
  class="d-none btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modal-notif"
  id="btn-modal-notif"
></button>

{% endblock %} {% block js %}
<script>
  ceklogin();
  $(() => {
    $("#page-layanan_buku").addClass("active");

    $(".readbook").click(function () {
      var url = $(this).data("url");
      var title = $(this).data("title");
      $("#btn-modal").click();
      $("#title-book").html(title);

      $("#iframe-readbook").attr("src", url);
    });

    $("#form-temp-login").submit(function (e) {
      e.preventDefault();
      // $("#button-dismiss-login").click();
      var uname = $("#username").val();
      var pass = $("#password").val();

      if (uname == "" || pass == "") {
        Toastify({
          text: "Username atau Password perlu diisi",
          gravity: "bottom",
          position: "left",
          style: {
            background: "#d62828",
          },
          duration: 3000,
        }).showToast();
      } else {
        let fd = new FormData();
        fd.append("username", uname);
        fd.append("password", pass);
        $.ajax({
          type: "post",
          dataType: "json",
          data: fd,
          processData: false,
          contentType: false,
          url: "temp_login",
          beforeSend: function () {
            Toastify({
              text: "Mohon Tunggu ...",
              gravity: "bottom",
              position: "left",
              style: {
                background: "#00b4d8",
              },
              duration: 1000,
            }).showToast();
          },
          success: function (res) {
            if (res.code == 200) {
              Toastify({
                text: res.msg,
                gravity: "bottom",
                position: "left",
                style: {
                  background: "#198754",
                },
                duration: 3000,
              }).showToast();
              sessionStorage.setItem("Logged_in", 1);
              sessionStorage.setItem("id", res.id);
              sessionStorage.setItem("rolename", res.rolename);
              ceklogin();
            } else {
              Toastify({
                text: res.msg,
                gravity: "bottom",
                position: "left",
                style: {
                  background: "#d62828",
                },
                duration: 3000,
              }).showToast();
            }
          },
        });
      }
    });
  });

  function ceklogin() {
    if (sessionStorage.length == 0) {
      $("#btn-login-temp").click();
      console.log("gaada");
    } else {
      console.log("masuk");
      if (sessionStorage.getItem("Logged_in") == 0) {
        $("#btn-login-temp").click();
      } else {
        $("#button-dismiss-login").click();
      }
    }
  }
</script>
{% endblock %}
