{% extends "front/layout.html" %} {% block content %}

<section class="blog-details ptb-70">
  <div class="container">
    <nav aria-label="breadcrumb" class="fw-bold">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Beranda</a></li>
        <li class="breadcrumb-item">
          <a href="{{baseURL}}layanan_berita">Berita Kampus</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ berita.title }}
        </li>
      </ol>
    </nav>
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-details-text-area details-text-area">
          <img src="{{berita.path}}" alt="image" />
          <div class="blog-date">
            <ul>
              <li>
                <i class="fas fa-user"></i> By
                <a>Admin</a>
              </li>
              <li>
                <i class="far fa-calendar-alt"></i>{{ berita.created_at |
                date('d M Y') }}
              </li>
            </ul>
          </div>
          <h3 class="mt-0 text-uppercase">{{ berita.title }}</h3>
          {{berita.redaksi | raw}}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-area pl-20 pt-30">
          <div class="sidebar-card recent-news">
            <h3>Berita Lainnya</h3>
            {% if allberita is empty %}
            <h6 class="text-center">Tidak Ada Berita Lain</h6>
            {% endif %} {% for item in allberita %}
            <div class="recent-news-card">
              <a href="{{baseURL}}detailberita/{{item.id}}"
                ><img src="{{item.path}}" alt="image"
              /></a>
              <h5>
                <a href="{{baseURL}}detailberita/{{item.id}}"
                  >{{ item.title }}</a
                >
              </h5>
              <p>{{ item.created_at | date('d M Y') }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="popup">
  <div class="popup-content">
    <button class="close-btn" id="popup-close">
      <i class="fas fa-times"></i>
    </button>
    <form>
      <div class="input-group search-box">
        <input type="text" class="form-control" placeholder="Search" />
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>

{% endblock %} {% block js %}
<script>
  $(() => {
    $("#page-layanan_buku").addClass("active");
  });
</script>
{% endblock %}
