{% extends "front/layout.html" %} {% block content %}
<section class="home-banner ptb-100">
  <div class="container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="banner-text-area">
                <h6>PMG STFI BANDUNG</h6>
                <h1>Penerimaan Mahasiswa Baru</h1>
                <p>PMB 2023 STFI Bandung Untuk Program Studi Sarjana Farmasi</p>
                <a class="default-button" href="about.html">Learn More</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="home-banner-area">
                <img src="{{baseURL}}assets/images/slide-1.jpg" alt="image" />
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="banner-text-area">
                <h6>PMG STFI BANDUNG</h6>
                <h1>Penerimaan Mahasiswa Baru</h1>
                <p>
                  PMB 2023 STFI Bandung Untuk Program Studi Pendidikan Profesi
                  Apoteker VII
                </p>
                <a class="default-button" href="about.html">Learn More</a>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="home-banner-area">
                <img src="{{baseURL}}assets/images/slide-2.jpg" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="services pt-100 pb-70">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3 class="mb-3">Layanan Informasi</h3>
    </div>
    <div class="section-content">
      <a href="javascript:;">
        <div class="d-flex card border-0 shadow-lg">
          <div class="card-body text-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="128"
              height="128"
              fill="currentColor"
              class="bi bi-book-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
              />
            </svg>
            <h4>Layanan Buku Digital</h4>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0.5)">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <a href="">
              <div class="card botder-0">
                <div class="card-body text-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="128"
                    height="128"
                    class="text-center"
                    fill="currentColor"
                    class="bi bi-people-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
                    />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!-- 
<section class="we-are pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="why-we-img">
          <img src="assets/images/why-we/ww1.jpg" alt="image" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="why-we-text-area">
          <div class="default-section-title">
            <span>WHO WE ARE</span>
            <h3>Medzo Is An Inner Metropolitan Municipality Service</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua quis
              ipsum suspendisse ultrices gravida risus commodo viverra maecenas
              accumsan lacus vel facilisis ipsum dolor sit amet.
            </p>
          </div>
          <div class="why-we-text-list">
            <i class="flaticon-government-building"></i>
            <h4>Our Role Is To:</h4>
            <p>
              Nulla porttitor accumsan tincidunt lorem ipsum dolor sit amet
              consectetur adipiscing elit praesent sapien massa convallis a
              pellentesque nec egestas non nisi nulla porttitor accumsan
              tincidunt.
            </p>
            <ul>
              <li>Praesent sapien massa, convallis a pellentesque nec.</li>
              <li>Nulla porttitor accumsan tincidunt.</li>
              <li>Ivamus suscipit tortor eget felis porttitor volutpat.</li>
              <li>Donec rutrum congue leo eget malesuada.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fun-facts fun-facts-1 pt-70 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="fun-facts-card">
          <i class="flaticon-smart-city"></i>
          <h2><span class="odometer" data-count="46712">00</span></h2>
          <p>People In The City</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="fun-facts-card">
          <i class="flaticon-location-1"></i>
          <h2>
            <span class="odometer" data-count="22">00</span>
            <span class="sign-icon">K</span>
          </h2>
          <p>Square Of City</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="fun-facts-card">
          <i class="flaticon-park-1"></i>
          <h2>
            <span class="odometer" data-count="300">00</span>
            <span class="sign-icon">+</span>
          </h2>
          <p>Year Of Foundation</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-6">
        <div class="fun-facts-card last-card">
          <i class="flaticon-award"></i>
          <h2>
            <span class="odometer" data-count="1000">00</span>
            <span class="sign-icon">+</span>
          </h2>
          <p>Successful Programs</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="events ptb-100">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3>Upcoming City Events</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua quis ipsum
        suspendisse
      </p>
    </div>
    <div class="section-content">
      <div class="events-slider-area owl-carousel">
        <div class="events-card">
          <img src="assets/images/events/e1.jpg" alt="image" />
          <div class="events-card-text">
            <ul>
              <li>Conference</li>
              <li>Oct 12, 2022</li>
            </ul>
            <h4><a href="event-details.html">Annual Conference 2022</a></h4>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://goo.gl/maps/QTg39qSWoB5fdndT7"
                >At City Center, 27 Division Street, USA</a
              >
            </p>
            <a class="read-more-btn" href="event-details.html">Read More</a>
          </div>
        </div>
        <div class="events-card">
          <img src="assets/images/events/e2.jpg" alt="image" />
          <div class="events-card-text">
            <ul>
              <li>Conference</li>
              <li>Oct 13, 2022</li>
            </ul>
            <h4>
              <a href="event-details.html">Negotiation In Government</a>
            </h4>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://goo.gl/maps/QTg39qSWoB5fdndT7"
                >At City Center, 27 Division Street, USA</a
              >
            </p>
            <a class="read-more-btn" href="event-details.html">Read More</a>
          </div>
        </div>
        <div class="events-card">
          <img src="assets/images/events/e3.jpg" alt="image" />
          <div class="events-card-text">
            <ul>
              <li>Conference</li>
              <li>Oct 14, 2022</li>
            </ul>
            <h4>
              <a href="event-details.html">Annual Health Conference</a>
            </h4>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://goo.gl/maps/QTg39qSWoB5fdndT7"
                >At City Center, 27 Division Street, USA</a
              >
            </p>
            <a class="read-more-btn" href="event-details.html">Read More</a>
          </div>
        </div>
        <div class="events-card">
          <img src="assets/images/events/e4.jpg" alt="image" />
          <div class="events-card-text">
            <ul>
              <li>Conference</li>
              <li>Oct 15, 2022</li>
            </ul>
            <h4><a href="event-details.html">Annual Conference 2022</a></h4>
            <p>
              <i class="fas fa-map-marker-alt"></i>
              <a href="https://goo.gl/maps/QTg39qSWoB5fdndT7"
                >At City Center, 27 Division Street, USA</a
              >
            </p>
            <a class="read-more-btn" href="event-details.html">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="explore-event explore-event-1 pb-100">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3>Explore City Events</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua quis ipsum
        suspendisse
      </p>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="explore-events-text-area">
            <div class="default-section-title">
              <h3>Plan A Great City That Provides The Essence Of Success</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua quis
                ipsum suspendisse ultrices gravida risus commodo viverra
                maecenas accumsan lacus vel facilisis ipsum dolor sit amet.
              </p>
            </div>
            <div class="explore-events-text-list">
              <i class="flaticon-government"></i>
              <h4>Sustainable Innovation Is Our Pathway:</h4>
              <p>
                Nulla porttitor accumsan tincidunt lorem ipsum dolor sit amet
                consectetur adipiscing elit praesent sapien massa convallis a
                pellentesque nec egestas non nisi nulla porttitor accumsan
                tincidunt.
              </p>
              <ul>
                <li>Praesent sapien massa, convallis a pellentesque nec.</li>
                <li>Nulla porttitor accumsan tincidunt.</li>
                <li>Ivamus suscipit tortor eget felis porttitor volutpat.</li>
                <li>Donec rutrum congue leo eget malesuada.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="explore-events-img">
            <img src="assets/images/why-we/ww2.jpg" alt="image" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="feedback pt-100 pb-70 bg-f9fbfe">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3>What Your Counselors Says</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua quis ipsum
        suspendisse
      </p>
    </div>
    <div class="section-content">
      <div class="feedback-slider-area owl-carousel">
        <div class="feedback-card mlr-15 mb-30">
          <i class="flaticon-quotation"></i>
          <div class="stars">
            <ul>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elitsed eiusmod
            tempor elite incididunt labore dolore magna aliqua Quis ipsum
            suspendisse ultrices set amet set do eimusd tempor labore sit dolor
            magna aliiqua amet.”
          </p>
          <div class="feedback-intro-area">
            <img src="assets/images/feedback/f1.jpg" alt="image" />
            <div class="feedback-intro">
              <h5>Jhon Abraham</h5>
              <span>City Council President</span>
            </div>
          </div>
        </div>
        <div class="feedback-card mlr-15 mb-30">
          <i class="flaticon-quotation"></i>
          <div class="stars">
            <ul>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elitsed eiusmod
            tempor elite incididunt labore dolore magna aliqua Quis ipsum
            suspendisse ultrices set amet set do eimusd tempor labore sit dolor
            magna aliiqua amet.”
          </p>
          <div class="feedback-intro-area">
            <img src="assets/images/feedback/f2.jpg" alt="image" />
            <div class="feedback-intro">
              <h5>Jhon Smith</h5>
              <span>City Council Advisor</span>
            </div>
          </div>
        </div>
        <div class="feedback-card mlr-15 mb-30">
          <i class="flaticon-quotation"></i>
          <div class="stars">
            <ul>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
              <li><i class="fas fa-star"></i></li>
            </ul>
          </div>
          <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elitsed eiusmod
            tempor elite incididunt labore dolore magna aliqua Quis ipsum
            suspendisse ultrices set amet set do eimusd tempor labore sit dolor
            magna aliiqua amet.”
          </p>
          <div class="feedback-intro-area">
            <img src="assets/images/feedback/f3.jpg" alt="image" />
            <div class="feedback-intro">
              <h5>Peter Smith</h5>
              <span>City Council Secratery</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team ptb-100">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3>Our City Counselor</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua quis ipsum
        suspendisse
      </p>
    </div>
    <div class="section-content">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="team-card">
            <div class="team-card-img">
              <img src="assets/images/team/t1.jpg" alt="image" />
              <div class="team-social-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-card-text">
              <h4>Mila Wilson</h4>
              <p>City Secratery</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="team-card">
            <div class="team-card-img">
              <img src="assets/images/team/t2.jpg" alt="image" />
              <div class="team-social-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-card-text">
              <h4>Bren Stork</h4>
              <p>Counsil President</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="team-card">
            <div class="team-card-img">
              <img src="assets/images/team/t3.jpg" alt="image" />
              <div class="team-social-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-card-text">
              <h4>Mukesh Sarkar</h4>
              <p>City Mayor</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
          <div class="team-card">
            <div class="team-card-img">
              <img src="assets/images/team/t4.jpg" alt="image" />
              <div class="team-social-icons">
                <ul>
                  <li>
                    <a href="https://www.facebook.com/" target="_blank"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/" target="_blank"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="team-card-text">
              <h4>David Jon</h4>
              <p>Assistant Mayor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="precess pb-100 mt-10">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3>Tackling The Process</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua quis ipsum
        suspendisse
      </p>
    </div>
    <div class="section-content">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="process-card">
            <i class="flaticon-google-docs"></i>
            <h4><a href="about.html">Application</a></h4>
            <p>
              There are many variations of passages of the lorem Ipsum available
              but this is a majority have suffered.
            </p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="process-card">
            <i class="flaticon-process"></i>
            <h4><a href="about.html">Processing</a></h4>
            <p>
              There are many variations of passages of the lorem Ipsum available
              but this is a majority have suffered.
            </p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="process-card">
            <i class="flaticon-checked-1"></i>
            <h4><a href="about.html">Complete</a></h4>
            <p>
              There are many variations of passages of the lorem Ipsum available
              but this is a majority have suffered.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog ptb-100 bg-f9fbfe">
  <div class="container">
    <div class="default-section-title default-section-title-middle">
      <h3>Latest News & Updates</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua quis ipsum
        suspendisse
      </p>
    </div>
    <div class="section-content">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="blog-card">
            <div class="blog-card-img">
              <a href="blog-details.html"
                ><img src="assets/images/blog/b1.jpg" alt="image"
              /></a>
            </div>
            <div class="blog-card-text-area">
              <div class="blog-date">
                <ul>
                  <li>
                    <i class="fas fa-user"></i> By
                    <a href="posted-by.html">Admin</a>
                  </li>
                  <li><i class="far fa-comments"></i> No Comment</li>
                  <li><i class="far fa-calendar-alt"></i> 01 Nov 2022</li>
                </ul>
              </div>
              <h4>
                <a href="blog-details.html">Responds To Citizens Advice</a>
              </h4>
              <p>
                Lorem ipsum dolor amet magna set dolor sit amet consectetur
                adipiscing do elite labore.
              </p>
              <a class="read-more-btn" href="blog-details.html">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="blog-card">
            <div class="blog-card-img">
              <a href="blog-details.html"
                ><img src="assets/images/blog/b2.jpg" alt="image"
              /></a>
            </div>
            <div class="blog-card-text-area">
              <div class="blog-date">
                <ul>
                  <li>
                    <i class="fas fa-user"></i> By
                    <a href="posted-by.html">Admin</a>
                  </li>
                  <li><i class="far fa-comments"></i> No Comment</li>
                  <li><i class="far fa-calendar-alt"></i> 02 Nov 2022</li>
                </ul>
              </div>
              <h4>
                <a href="blog-details.html">Housing Advisers Program</a>
              </h4>
              <p>
                Lorem ipsum dolor amet magna set dolor sit amet consectetur
                adipiscing do elite labore.
              </p>
              <a class="read-more-btn" href="blog-details.html">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="blog-card">
            <div class="blog-card-img">
              <a href="blog-details.html"
                ><img src="assets/images/blog/b3.jpg" alt="image"
              /></a>
            </div>
            <div class="blog-card-text-area">
              <div class="blog-date">
                <ul>
                  <li>
                    <i class="fas fa-user"></i> By
                    <a href="posted-by.html">Admin</a>
                  </li>
                  <li><i class="far fa-comments"></i> No Comment</li>
                  <li><i class="far fa-calendar-alt"></i> 03 Nov 2022</li>
                </ul>
              </div>
              <h4>
                <a href="blog-details.html">Respond To National Report</a>
              </h4>
              <p>
                Lorem ipsum dolor amet magna set dolor sit amet consectetur
                adipiscing do elite labore.
              </p>
              <a class="read-more-btn" href="blog-details.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

{% endblock %} {% block js %}
<script>
  $(() => {
    // $("#page-beranda").addClass("active");
    $("#myModal").modal({
      backdrop: "static",
      keyboard: false,
    });
  });
</script>
{% endblock %}
