{% extends "front/layout.html" %} {% block content %}
<div class="terms ptb-50">
  <div class="container">
    <nav aria-label="breadcrumb" class="fw-bold">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Beranda</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Layanan Jadwal Perkuliahan
        </li>
      </ol>
    </nav>
    <h1>Jadwal Perkuliahan</h1>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="pills-home-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-home"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Jadwal Perkuliahan
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills-profile-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-profile"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Jadwal Praktikum
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-lg-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <table class="table table-bordered" id="table-kelas">
                  <thead class="table-active">
                    <th width="3%">No.</th>
                    <th>Kode</th>
                    <th>No. Kelas</th>
                    <th>Mata Kuliah</th>
                    <th>Dosen</th>
                    <th>Jam Mulai</th>
                    <th>Jam Selesai</th>
                    <th>Hari</th>
                    <th>Status</th>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0"
      >
        <div class="row">
          <div class="col-lg-12">
            <div class="card shadow border-0">
              <div class="card-body">
                <table class="table table-bordered" id="table-praktikum">
                  <thead class="table-active">
                    <th width="3%">No.</th>
                    <th>Ruangan</th>
                    <th>Mata Kuliah</th>
                    <th>Dosen</th>
                    <th>Jam Mulai</th>
                    <th>Jam Selesai</th>
                    <th>Hari</th>
                    <th>Status</th>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="sidebar-card search-box mb-3">
      <form>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Masukan Nama / NPM Mahasiswa"
            required
          />
          <button class="btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div> -->

    <!-- <p>
      We may collect personal identification information from Users in a variety
      of ways, including, but not limited to, when Users visit our site,
      subscribe to the newsletter, fill out a form, and in connection with other
      activities, services, features or <a href="index.html">resources</a> we
      make available on our Site. Users may be asked for, as appropriate, name,
      email address, mailing address, phone number, company name. We will
      collect personal <strong>identification</strong> information from Users
      only if they voluntarily consent such information to us. Users can always
      refuse to supply personally identification information, except that it may
      prevent them from engaging in certain Site related activities.
    </p> -->
    <!-- <div class="table-responsive"> -->

    <!-- <div class="paginations mt-30">
      <ul>
        <li><a class="active" href="blog.html">1</a></li>
        <li><a href="blog.html">2</a></li>
        <li><a href="blog.html">3</a></li>
        <li>
          <a href="blog.html"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </div> -->
  </div>
</div>
<!-- </div> -->
<!-- <div class="popup">
  <div class="popup-content">
    <button class="close-btn" id="popup-close">
      <i class="fas fa-times"></i>
    </button>
    <form>
      <div class="input-group search-box">
        <input
          type="text"
          class="form-control"
          placeholder="Masukan Nama / NPM Mahasiswa"
        />
        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div> -->

{% endblock %} {% block js %}
<script>
  $(() => {
    $("#dropdown-layanan").addClass("active");
    $("#page-layanan_mahasiswa").addClass("active");

    var table = $("#table-kelas").DataTable({
      searching: true,
      processing: true,
      serverSide: true,
      language: {
        searchPlaceholder: "Masukan Kode, Matkul, Kelas dan Jam",
        search: "Cari Data Jadwal Perkuliahan :",
        info: "Menampilkan _START_ sampai _END_ dari _TOTAL_ Data",
        lengthMenu: "Menampilkan _MENU_ Data",
        paginate: {
          first: "Awal",
          last: "Akhir",
          next: "Selanjutnya",
          previous: "Sebelumnya",
        },
      },
      order: [],
      ajax: {
        url: "getKelas",
        type: "POST",
      },
      columnDefs: [
        {
          targets: [],
          orderable: false,
        },
      ],
    });
    var tablepraktikum = $("#table-praktikum").DataTable({
      searching: true,
      processing: true,
      serverSide: true,
      language: {
        searchPlaceholder: "Masukan Ruangan atau Matkul",
        search: "Cari Data Jadwal Praktikum :",
        info: "Menampilkan _START_ sampai _END_ dari _TOTAL_ Data",
        lengthMenu: "Menampilkan _MENU_ Data",
        paginate: {
          first: "Awal",
          last: "Akhir",
          next: "Selanjutnya",
          previous: "Sebelumnya",
        },
      },
      order: [],
      ajax: {
        url: "getPraktikum",
        type: "POST",
      },
      columnDefs: [
        {
          targets: [],
          orderable: false,
        },
      ],
    });
  });
</script>
{% endblock %}
