{% extends "admin/layout.html" %} {% block content %}
<script>
  const detail_box = `{{box}}`
</script>
{% if box %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<div class="toolbar" id="kt_toolbar">
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1"><i class="bi bi-card-list fs-1"></i>&nbsp;Informasi Isi Box Arsip Rumah Negara Golongan III</h1>
          <span class="h-20px border-gray-300 border-start mx-4"></span>
          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">
              <a href="dashboard" class="text-muted text-hover-primary">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Info Box Detail</li>
          </ul>
			</div>
			<div class="d-flex align-items-center py-1">
			</div>
		</div>
	</div>

	<div class="post d-flex flex-column-fluid" id="kt_post">
		<div id="kt_content_container" class="container-xxl">
			<div class="row gy-5 g-xl-8">
        <div class="col-xl-12">
          <a href="infobox" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-square fs-1"></i> Kembali ke Data Box Arsip</a>
        </div>
				<div class="col-xl-12">
					<div class="card card-xl-stretch mb-xl-8">
						<div class="card-header border-0 bg-warning">
							<div class="flex-grow-1 card-p pb-0">
                <div class="d-flex flex-stack flex-wrap">
                  <div class="me-2">
                    <div class="fs-1 fw-bold text-dark">Detail Box Arsip </div>
                    <div class="fs-7 fw-bold text-dark">Melihat isi box arsip </div>
                  </div>
                </div>
              </div>
							
						</div>
						<div class="card-body pt-2">
							<table id="all-box-detail" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                <thead>
                    <tr>
                      <th class="fw-bolder">No.</th>
                      <th class="fw-bolder">HDNO</th>
                      <th class="fw-bolder">SK</th>
                      <th class="fw-bolder">SIP</th>
                      <th class="fw-bolder">Pengalihan</th>
                      <th class="fw-bolder">Kontrak</th>
                      <th class="fw-bolder">SKTL</th>
                      <th class="fw-bolder">Hak</th>
                    </tr>
                </thead>
              </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<div class="toolbar" id="kt_toolbar">
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1"><i class="bi bi-card-list fs-1"></i>&nbsp;Data Lokasi Box Arsip Rumah Negara Golongan III</h1>
          <span class="h-20px border-gray-300 border-start mx-4"></span>
          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">
              <a href="dashboard" class="text-muted text-hover-primary">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Info Box</li>
          </ul>
			</div>
			<div class="d-flex align-items-center py-1">
			</div>
		</div>
	</div>

	<div class="post d-flex flex-column-fluid" id="kt_post">
		<div id="kt_content_container" class="container-xxl">

			<div class="row gy-5 g-xl-8">
				<div class="col-xl-12">
					<div class="card card-xl-stretch mb-xl-8">
						<div class="card-header border-0 bg-warning">
							<div class="flex-grow-1 card-p pb-0">
                <div class="d-flex flex-stack flex-wrap">
                  <div class="me-2">
                    <div class="fs-1 fw-bold text-dark">Info Box Arsip </div>
                    <div class="fs-7 fw-bold text-dark">Lihat Data Info Box Arsip </div>
                  </div>
                </div>
              </div>
							
						</div>
						<div class="card-body pt-2">
							<table id="all-box" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                <thead>
                    <tr>
                      <th class="fw-bolder">No.</th>
                      <th class="fw-bolder">Box</th>
                    </tr>
                </thead>
              </table>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>
</div>
{% endif %}

{% endblock %}
