<link rel="stylesheet" href="{{baseURL}}assets/css/animate.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/fontawsome.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/fonts/flaticon.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/meanmenu.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/owl.carousel.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/nice-select.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/owl.theme.default.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/magnific-popup.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/jquery-ui.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/odometer.min.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/style.css" />
<link rel="stylesheet" href="{{baseURL}}assets/css/responsive.css" />
<title>Medzo - Municipal & Government Services HTML Template</title>
<link
  rel="icon"
  type="image/png"
  href="{{baseURL}}assets/images/fav-icon.png"
/>
