<div class="navbar-area">
  <div class="main-responsive-nav">
    <div class="container-fluid plr-100">
      <div class="mobile-nav">
        <a href="index.html" class="logo"
          ><img src="assets/images/small-logo.png" alt="logo"
        /></a>
        <!-- <ul class="menu-sidebar menu-small-device">
          <li>
            <button class="popup-button">
              <i class="fas fa-search"></i>
            </button>
          </li>
          <li>
            <a class="default-button" href="contact.html"
              >Get A Quote <i class="fas fa-angle-right"></i
            ></a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>

  <div class="main-nav plr-100">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="{{baseURL}}">
          <img src="{{baseURL}}assets/images/logo-stfi.png" alt="logo" />
        </a>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{{baseURL}}menu" class="nav-link" id="page-beranda"
                >Menu</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
