<div class="navbar-area">
  <div class="main-responsive-nav">
    <div class="container-fluid plr-100">
      <div class="mobile-nav">
        <a href="index.html" class="logo"
          ><img src="assets/images/small-logo.png" alt="logo"
        /></a>
        <ul class="menu-sidebar menu-small-device">
          <li>
            <button class="popup-button">
              <i class="fas fa-search"></i>
            </button>
          </li>
          <li>
            <a class="default-button" href="contact.html"
              >Get A Quote <i class="fas fa-angle-right"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-nav plr-100">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="{{baseURL}}">
          <img src="{{baseURL}}assets/images/logo-stfi.png" alt="logo" />
        </a>
        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <button
                type="button"
                class="default-button"
                data-bs-toggle="modal"
                data-bs-target="#myModal"
              >
                Menu
              </button>
            </li>
            <!-- <li class="nav-item">
              <a
                href="javascript:void(0)"
                class="nav-link dropdown-toggle"
                id="dropdown-layanan"
                >Layanan Informasi</a
              >
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a
                    href="{{baseURL}}layanan_informasi_mahasiswa"
                    class="nav-link"
                    id="page-layanan_mahasiswa"
                    >Layanan Informasi Mahasiswa</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    href="{{baseURL}}layanan_informasi_dosen"
                    class="nav-link"
                    id="page-layanan_dosen"
                    >Layanan Informasi Dosen</a
                  >
                </li>
                <li class="nav-item">
                  <a href="project-details.html" class="nav-link"
                    >Layanan Informasi Kampus</a
                  >
                </li>
                <li class="nav-item">
                  <a href="project-details.html" class="nav-link"
                    >Layanan Informasi Jadwal</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                href="{{baseURL}}layanan_informasi_buku"
                class="nav-link"
                id="page-layanan_buku"
                >Layanan Buku Digital</a
              >
            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
