<script src="{{baseURL}}assets/js/jquery.min.js"></script>
<script src="{{baseURL}}assets/js/jquery-ui.min.js"></script>
<script src="{{baseURL}}assets/js/bootstrap.bundle.min.js"></script>
<script src="{{baseURL}}assets/js/meanmenu.js"></script>
<script src="{{baseURL}}assets/js/owl.carousel.min.js"></script>
<script src="{{baseURL}}assets/js/magnific-popup.min.js"></script>
<script src="{{baseURL}}assets/js/TweenMax.js"></script>
<!-- <script src="{{baseURL}}assets/js/nice-select.min.js"></script> -->
<script src="{{baseURL}}assets/js/form-validator.min.js"></script>
<script src="{{baseURL}}assets/js/contact-form-script.js"></script>
<script src="{{baseURL}}assets/js/ajaxchimp.min.js"></script>
<script src="{{baseURL}}assets/js/owl.carousel2.thumbs.min.js"></script>
<script src="{{baseURL}}assets/js/appear.min.js"></script>
<script src="{{baseURL}}assets/js/odometer.min.js"></script>
<script src="{{baseURL}}assets/js/custom.js"></script>
<script src="{{baseURL}}assets/js/datatables.min.js"></script>
<script src="{{baseURL}}assets/js/DataTables/js/dataTables.bootstrap5.min.js"></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
