<style>
  .carousel-indicators [data-bs-target] {
    background-color: var(--mainColor);
  }

  .navbar-brand img {
    width: 55%;
  }
  /* .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px;
    color: #fff;
    font-size: 24px;
  } */
</style>
