<!-- <section class="topbar plr-100 bg-black">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="topbar-left-area">
          <ul>
            <li>
              <a href="https://goo.gl/maps/T3S78DrzqMegjsLy6"
                ><i class="fas fa-map-marker-alt"></i> Jl. Soekarno Hatta no.
                354 (Parakan Resik) Bandung 40266</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="topbar-right-area">
          <ul>
            <li>
              <a href="{{baseURL}}login"><i class="fas fa-user"></i> Login</a>
            </li>
            <li>
              <div class="language-select option-select-area">
                <i class="fas fa-globe"></i>
                <select>
                  <option value="1">English</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
