<link
  rel="apple-touch-icon"
  href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/apple-icon-120.png"
/>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{{baseURL}}app-assets/images/ico/favicon.ico"
/>
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
  rel="stylesheet"
/>

<!-- BEGIN: Vendor CSS-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/vendors/css/vendors.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/vendors/css/weather-icons/climacons.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/fonts/meteocons/style.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/vendors/css/charts/morris.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/vendors/css/charts/chartist.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/vendors/css/charts/chartist-plugin-tooltip.css"
/>
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/bootstrap-extended.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/colors.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/components.min.css"
/>
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/core/menu/menu-types/vertical-menu-modern.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/core/colors/palette-gradient.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/fonts/simple-line-icons/style.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/core/colors/palette-gradient.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/pages/timeline.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{baseURL}}app-assets/css/pages/dashboard-ecommerce.min.css"
/>
<!-- END: Page CSS-->
