<div
  class="main-menu menu-fixed menu-dark menu-accordion menu-shadow"
  data-scroll-to-active="true"
>
  <div class="main-menu-content">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li class="nav-item" id="menu-dashboard">
        <a href="{{baseURL}}dashboard"
          ><i class="la la-home"></i
          ><span class="menu-title" data-i18n="eCommerce">Dashboard</span></a
        >
      </li>
      <li class="navigation-header">
        <span data-i18n="Admin Panels">Konten</span
        ><i
          class="la la-ellipsis-h"
          data-toggle="tooltip"
          data-placement="right"
          data-original-title="Admin Panels"
        ></i>
      </li>
      <!-- <li class="nav-item" id="menu-data_slider">
            <a href="{{baseURL}}data_slider">
            <i class="la la-image"></i><span class="menu-title" data-i18n="eCommerce">Slider</span>
            </a>
         </li> -->
      {% if role <= 2 or role == 6 %}
      <li class="nav-item" id="menu-data_berita">
        <a href="{{baseURL}}data_berita">
          <i class="la la-rss"></i
          ><span class="menu-title" data-i18n="eCommerce">Berita</span>
        </a>
      </li>
      {% endif %}
      <li class="nav-item" id="menu-data_kelas">
        <a href="{{baseURL}}data_kelas">
          <i class="la la-info"></i
          ><span class="menu-title" data-i18n="eCommerce"
            >Jadwal Perkuliahan</span
          >
        </a>
      </li>
      <li class="nav-item" id="menu-data_jadwal_praktikum">
        <a href="{{baseURL}}data_jadwal_praktikum">
          <i class="la la-info"></i
          ><span class="menu-title" data-i18n="eCommerce"
            >Jadwal Praktikum</span
          >
        </a>
      </li>
      {% if role <= 11 or role == 13 %}
      <!-- LAYANAN -->
      <li class="navigation-header">
        <span data-i18n="Admin Panels">Layanan</span
        ><i
          class="la la-ellipsis-h"
          data-toggle="tooltip"
          data-placement="right"
          data-original-title="Admin Panels"
        ></i>
      </li>
      <li class="nav-item layanan_informasi">
        <a href="#">
          <i class="la la-share-alt"></i>
          <span class="menu-title" data-i18n="Project"> Layanan Informasi</span>
        </a>

        <ul class="menu-content">
          <li id="menu-data_mahasiswa">
            <a class="menu-item" href="{{baseURL}}data_mahasiswa">
              <i></i>
              <span data-i18n="Project Summary"> Informasi Mahasiswa</span>
            </a>
          </li>
          <li id="menu-data_dosen">
            <a class="menu-item" href="{{baseURL}}data_dosen">
              <i></i>
              <span data-i18n="Project Task">Informasi Dosen</span></a
            >
          </li>
          <li id="menu-data_kampus">
            <a class="menu-item" href="{{baseURL}}data_kampus">
              <i></i>
              <span data-i18n="Project Bugs">Informasi Kegiatan</span></a
            >
          </li>
          <!-- <li id="menu-data_jadwal">
                  <a class="menu-item" href="{{baseURL}}data_jadwal"
                     ><i></i
                     ><span data-i18n="Project Bugs">Informasi Jadwal</span></a
                     >
               </li> -->
        </ul>
      </li>
      {% endif %} {% if role <= 2 or role == 12 %}
      <li class="nav-item" id="menu-data_buku">
        <a href="{{baseURL}}data_buku"
          ><i class="la la-book"></i
          ><span class="menu-title" data-i18n="eCommerce"
            >Layanan Buku Digital</span
          ></a
        >
      </li>
      {% endif %}
      <!-- MANAJEMEN -->
      {% if role <= 2 %}
      <li class="navigation-header">
        <span data-i18n="Admin Panels">Manajemen</span
        ><i
          class="la la-ellipsis-h"
          data-toggle="tooltip"
          data-placement="right"
          data-original-title="Admin Panels"
        ></i>
      </li>

      <li class="nav-item" id="menu-user">
        <a href="{{baseURL}}data_user"
          ><i class="la la-users"></i
          ><span class="menu-title" data-i18n="eCommerce">Pengguna</span></a
        >
      </li>
      <li class="nav-item" id="menu-log">
        <a href="{{baseURL}}data_log"
          ><i class="la la-list"></i
          ><span class="menu-title" data-i18n="eCommerce"
            >Log Aktifitas</span
          ></a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>
