<!-- BEGIN: Vendor JS-->
<script src="{{baseURL}}app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{{baseURL}}app-assets/js/core/app-menu.min.js"></script>
<script src="{{baseURL}}app-assets/js/core/app.min.js"></script>
<script src="{{baseURL}}app-assets/js/scripts/customizer.min.js"></script>
<script src="{{baseURL}}app-assets/js/scripts/footer.min.js"></script>
<script src="{{baseURL}}app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"></script>
<script src="{{baseURL}}app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
<script src="{{baseURL}}app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>

<script src="{{baseURL}}app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
<script src="{{baseURL}}app-assets/js/scripts/tables/datatables/datatable-styling.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{baseURL}}app-assets/js/uploader/image-uploader.js"></script>
<script src="{{baseURL}}app-assets/js/scripts/gallery/photo-swipe/photoswipe-script.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- END: Theme JS-->
<script src="{{baseURL}}app-assets/js/scripts/forms/switch.min.js"></script>

<!-- BEGIN: Page JS-->
<script src="{{script}}"></script>
<!-- END: Page JS-->
