<!-- BEGIN: Vendor JS-->
<script src="{{baseURL}}app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{{baseURL}}app-assets/js/core/app-menu.min.js"></script>
<script src="{{baseURL}}app-assets/js/core/app.min.js"></script>
<script src="{{baseURL}}app-assets/js/scripts/customizer.min.js"></script>
<script src="{{baseURL}}app-assets/js/scripts/footer.min.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="{{script}}"></script>
<!-- END: Page JS-->
