{% extends "admin/layout.html" %} {% block content %}
<div class="content-header row"></div>
<div class="content-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Data Jadwal Praktikum</h4>
          <a class="heading-elements-toggle"
            ><i class="la la-ellipsis-v font-medium-3"></i
          ></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li>
                <button
                  type="button"
                  class="btn btn-success btn-min-width mr-1 mb-1"
                  id="add_jadwal_praktikum"
                  data-toggle="modal"
                  data-target="#modal_add_jadwal_praktikum"
                >
                  <i class="la la-plus"></i> Tambah Informasi Jadwal Praktikum
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <div class="table-responsive">
              <table
                id="all_jadwal_praktikum"
                class="table table-striped table-bordered bootstrap-3"
              >
                <thead>
                  <tr>
                    <th class="align-middle" rowspan="2">#No</th>
                    <th class="align-middle" rowspan="2">Ruangan Praktikum</th>
                    <th class="align-middle" rowspan="2">
                      Mata kuliah praktikum
                    </th>
                    <th class="align-middle" rowspan="2">Nama dosen</th>
                    <th class="align-middle" rowspan="2">Nama Kelompok</th>
                    <th class="align-middle" colspan="2">
                      <center>Jam</center>
                    </th>
                    <th class="align-middle" rowspan="2">Hari</th>
                    <th class="align-middle" rowspan="2">Aksi</th>
                  </tr>
                  <tr>
                    <th class="align-middle">Mulai</th>
                    <th class="align-middle">Akhir</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  tabindex="-1"
  id="modal_add_jadwal_praktikum"
  data-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-person-plus fs-2 me-2"></i> <wrd>Tambah</wrd> Data
          Informasi Jadwal Praktikum
        </h5>

        <!--begin::Close-->
        <a class="btn btn-icon" data-dismiss="modal" aria-label="Close">
          <span class="la la-times"></span>
        </a>
        <!--end::Closeaction="addjadwalpraktikum"
        method="POST"
        enctype="multipart/form-data"-->
      </div>

      <form>
        <input type="hidden" name="id" id="id" />
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <h5>Ruangan Praktikum</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-home"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ruangan Praktikum"
                  name="ruangan_praktikum"
                  id="ruangan_praktikum"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Nama Dosen</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-eye"></i
                  ></span>
                </div>
                <select
                  class="custom-select"
                  id="selectDosen"
                  nama="selectDosen"
                  onchange="dataMatkul()"
                >
                  <option value="">Pilih Dosen</option>
                </select>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Mata Kuliah Praktikum</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-list-ol"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mata Kuliah Praktikum"
                  name="mata_kuliah_praktikum"
                  id="mata_kuliah_praktikum"
                  disabled
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Status</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="status"
                    ><i class="la la-check"></i
                  ></label>
                </div>
                <select class="custom-select" id="status" name="status">
                  <option value="pilih">-Pilih-</option>
                  <option value="Ada">Ada</option>
                  <option value="Ditiadakan">Ditiadakan</option>
                </select>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Jam Mulai</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="la la-clock-o"></i
                  ></span>
                </div>
                <input
                  type="time"
                  class="form-control"
                  name="jam_mulai"
                  id="jam_mulai"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Jam Akhir</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="la la-clock-o"></i
                  ></span>
                </div>
                <input
                  type="time"
                  class="form-control"
                  name="jam_akhir"
                  id="jam_akhir"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Tanggal</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-calendar"></i
                  ></span>
                </div>
                <input
                  type="date"
                  class="form-control"
                  placeholder=""
                  name="tanggal"
                  id="tanggal"
                />
              </div>
            </div>
          </fieldset>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm mr-1 mb-1"
            data-dismiss="modal"
          >
            <i class="la la-times"></i> Batal
          </button>
          <button
            type="button"
            id="mohon_save"
            class="btn btn-success btn-sm mr-1 mb-1"
          >
            <i class="la la-check"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
