{% extends "admin/layout.html" %} {% block content %}
<div class="content-header row"></div>
<div class="content-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Data Jadwal Perkuliahan</h4>
          <a class="heading-elements-toggle"
            ><i class="la la-ellipsis-v font-medium-3"></i
          ></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li>
                <button
                  type="button"
                  class="btn btn-success btn-min-width mr-1 mb-1"
                  id="add_kelas"
                  data-toggle="modal"
                  data-target="#modal_add_kelas"
                >
                  <i class="la la-plus"></i> Tambah Informasi Kelas
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <div class="table-responsive">
              <table
                id="all_kelas"
                class="table table-striped table-bordered bootstrap-3"
              >
                <thead>
                  <tr>
                    <th class="align-middle" rowspan="2">#No</th>
                    <th class="align-middle" rowspan="2">Nama Kelas</th>
                    <th class="align-middle" rowspan="2">No Kelas</th>
                    <th class="align-middle" rowspan="2">Nama Dosen</th>
                    <th class="align-middle" rowspan="2">Kelas</th>
                    <th class="align-middle" rowspan="2">Mata Kuliah</th>
                    <th class="align-middle" colspan="2">
                      <center>Jam</center>
                    </th>
                    <th class="align-middle" rowspan="2">Hari</th>
                    <th class="align-middle" rowspan="2">Aksi</th>
                  </tr>
                  <tr>
                    <th class="align-middle">Mulai</th>
                    <th class="align-middle">Akhir</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  tabindex="-1"
  id="modal_add_kelas"
  data-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-person-plus fs-2 me-2"></i> <wrd>Tambah</wrd> Data
          Informasi Kelas
        </h5>

        <!--begin::Close-->
        <a class="btn btn-icon" data-dismiss="modal" aria-label="Close">
          <span class="la la-times"></span>
        </a>
        <!--end::Close-->
      </div>

      <form action="addkelas" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" />
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <h5>Nama Kelas</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-home"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nama"
                  name="nama"
                  id="nama"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>No Kelas</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-list-ol"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nomor Kelas"
                  name="no_kelas"
                  id="no_kelas"
                />
              </div>
            </div>
          </fieldset>
          
          <fieldset>
            <div class="form-group">
              <h5>Nama Dosen</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""><i class="la la-list-ol"></i></span>
                </div>
                <select class="form-control" name="nm_dosen" id="nm_dosen">
                  <option> -- PILIH DOSEN -- </option>
                  {% for dosen in data_dosen %}
                  <option value="{{dosen.kd_dosen}}">{{dosen.nama}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Mata Kuliah</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-eye"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Mata Kuliah"
                  name="matkul"
                  id="matkul"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Hari</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id=""
                    ><i class="la la-eye"></i
                  ></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Hari"
                  name="nm_hari"
                  id="nm_hari"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Jam Mulai</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="la la-clock-o"></i
                  ></span>
                </div>
                <input
                  type="time"
                  class="form-control"
                  name="jam_mulai"
                  id="jam_mulai"
                />
              </div>
            </div>
          </fieldset>

          <fieldset>
            <div class="form-group">
              <h5>Jam Akhir</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="la la-clock-o"></i
                  ></span>
                </div>
                <input
                  type="time"
                  class="form-control"
                  name="jam_akhir"
                  id="jam_akhir"
                />
              </div>
            </div>
          </fieldset>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm mr-1 mb-1"
            data-dismiss="modal"
          >
            <i class="la la-times"></i> Batal
          </button>
          <button type="submit" class="btn btn-success btn-sm mr-1 mb-1">
            <i class="la la-check"></i> Simpan
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
