{% extends "users/layout.html" %} {% block content %}
<input id="baseUrl" value="{{baseURL}}" hidden>
	<div class="page_header clearfix page_margin_top">
		<div class="page_header_left">
			<h2 class="page_title">TENTANG</h2>
		</div>
		<div class="page_header_right">
			<ul class="bread_crumb">
				<li>
					<a title="Home" href="index.html@page=home.html">
						Home
					</a>
				</li>
				<li class="separator icon_small_arrow right_gray">
					&nbsp;
				</li>
        <li>
          Profile
        </li>
				<li class="separator icon_small_arrow right_gray">
					&nbsp;
				</li>
				<li>
					Tentang
				</li>
				<li>

				</li>
			</ul>
		</div>
	</div>
	<div class="page_layout clearfix">
		<div class="divider_block clearfix">
			<hr class="divider first">
			<hr class="divider subheader_arrow">
			<hr class="divider last">
		</div>
    <div id="page-kapolres">
			<h1 class="about_title center_align page_margin_top">TENTANG</h1>
			<h2 class="about_subtitle center_align">POLRES SUMEDANG</h2>
			<img class="" src='{{baseURL}}/assets/users/images/polres.jpg' alt='img' style="width: 100%;border: 4px solid #ef2121;">

			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">ALAMAT MAKO POLRES SUMEDANG</h3>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
						Mulanya Mako Polres Sumedang terletak di Jalan Pangeran Geusan Ulun No.2 Kecamatan Sumedang Selatan sekarang menjadi Mako Polsek Sumedang Selatan. Kemudian pada tanggal 25 Mei 2015 Kapolda Jawa Barat Irjen Pol Muhammad Iriawan meresmikan Mako baru Polres Sumedang di Jalan Prabu Gajah Agung No. 07 Kel. Situ 45323 Sumedang Utara Kabupaten Sumedang, Prov. Jawa Barat Telp/Fax (0261) 206378.
						</p>
				</div>
			</div>
			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">RINCIAN GEDUNG POLRES SUMEDANG</h3>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
Mako baru Polres Sumedang di bangun di lahan milik Pemda Kabupaten Sumedang seluas 12.876 meter persegi. Luas bangunan mako Polres Sumedang seluas 2.100 meter persegi yang terdiri dari dua gedung dan dua lantai. Di area Mako Polres Sumedang terdapat sebuah Masjid, lahan parkir, lapang apel, lapang uji praktik SIM, Poliklinik dan Primkoppol serta kantin. Pembangunan mako baru polres Sumedang dilaksanakan 2 tahun anggaran yaitu tahun anggaran 2013 dan tahun anggaran 2014. Sumber anggaran sebesar Rp. 12. 135. 869. 000.-
						</p>
				</div>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
Mako Polres Sumedang ini terdiri dari 2 gedung yaitu gedung utama dan gedung pelayanan terpadu Patriatama. Bagian depan Mako Polres Sumedang masih terhalang tanah milik masyarakat yang belum di bebaskan seluas 3.462 meter persegi. Permohonan pembebasan lahan tersebut dudah diusulkan kepada Gubernur Jawa Barat baik oleh Bupati maupun oleh Kapolda Jawa Barat namun sampai dengan saat ini belum terealisasi.
						</p>
				</div>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
Gedung pelayanan terpadu Patriatama merupakan gedung yang digunakan untuk pelayanan kepada masyarakat yaitu antara lain pelayanan SPKT, pelayanan SIM, BPKB online, pelayanan SKCK dan pelayan sidik jari. Pelayanan SPKT merupakan pelayanan yang penting dalam menghimpun informasi laporan masyarakat tentang berbagai permasalahan dalam lingkungan masyarakat. Pelayanan terpadu Polres Sumedang merupakan pelayanan bebas korupsi yang bertujuan untuk meningkatkan pelayanan prima Kepolisian kepada masyarakat.
						</p>
				</div>

			</div>
			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">LUAS WILAYAH HUKUM POLRES SUMEDANG</h3>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
						Adapun luas wilayah hukum Polres Sumedang mencapai 155.871,98 Ha sesuai dengan Peraturan Daerah Kabupaten Sumedang No. 2 tahun 2012 tentang Rencana Tata Ruang Wilayah Kabupaten Sumedang Tahun 2011 - 2031 yang terdiri dari 25 Polsek dan 1 Polsub Sektor dengan jumlah penduduk 1.307.645 orang dan terdiri dari 26 kecamatan terbagi ke dalam 276 desa dan 7 kelurahan yang berada di wilayah hukum Polres Sumedang.
						</p>
				</div>
			</div>
			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">BATAS WILAYAH HUKUM POLRES SUMEDANG</h3>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
						Menurut letak geografis wilayah hukum Polres Sumedang berbatasan langsung dengan wilayah hukum :
						</p>
				</div>
				<ul class="list no_border spacing">
						<li class="bullet style_2">Sebelah Utara 		: Polres Indramayu.</li>
						<li class="bullet style_2">Sebelah Selatan 	: Polres Garut dan Polres Bandung.</li>
						<li class="bullet style_2">Sebelah Barat 		: Polres Bandung dan Polres Subang.</li>
						<li class="bullet style_2">Sebelah Timur 		: Polres Majalengka.</li>
					</ul>
			</div>
  	</div>
	</div>
{% endblock %}
