{% extends "users/layout.html" %} {% block content %}
<input id="baseUrl" value="{{baseURL}}" hidden>
	<div class="page_header clearfix page_margin_top">
		<div class="page_header_left">
			<h2 class="page_title">VISI, MISI, TUJUAN</h2>
		</div>
		<div class="page_header_right">
			<ul class="bread_crumb">
				<li>
					<a title="Home" href="index.html@page=home.html">
						Home
					</a>
				</li>
				<li class="separator icon_small_arrow right_gray">
					&nbsp;
				</li>
        <li>
          Profile
        </li>
				<li class="separator icon_small_arrow right_gray">
					&nbsp;
				</li>
				<li>
					Visi dan Misi
				</li>
				<li>

				</li>
			</ul>
		</div>
	</div>
	<div class="page_layout clearfix">
		<div class="divider_block clearfix">
			<hr class="divider first">
			<hr class="divider subheader_arrow">
			<hr class="divider last">
		</div>
    <div id="page-kapolres">
			<h1 class="about_title center_align page_margin_top">Visi, Misi dan Tujuan</h1>
			<h2 class="about_subtitle center_align">POLRES SUMEDANG</h2>
			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">Visi</h3>
				<blockquote class="inside_text page_margin_top">
					Terwujudnya Polri yang makin profesional, unggul dan dapat dipercaya masyarakat guna mendukung terciptanya Indonesia yang berdaulat, mandiri dan berkepribadian yang berlandaskan gotong royong, di wilayah hukum Polres Sumedang.
				</blockquote>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
						Dengan Visi tersebut diharapkan Polres Sumedang dapat melaksanakan tugas secara profesional yang diarahkan untuk bersinergi Polisional antar unsur komponen Instansi / Lembaga dan masyarakat, dengan membangkitkan  dan  mendorong seluruh insan Personil Polres Sumedang menjadi semakin cerdas, berbudaya dengan diimbangi akhlak dan moral yang tinggi serta mampu meningkatkan daya kreatifitas dan penuh inovatif dalam menghadapi tantangan tugas dan kehidupan di masyarakat.
						</p>
				</div>
			</div>
			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">Misi</h3>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
						Sesuai dengan visi yang telah ditetapkan, maka langkah upaya tindakan untuk mencapai visi tersebut, diwujudkan dalam bentuk rumusan tugas, kewajiban dan rancangan tindakan dengan berbagai indikatornya, yang disusun dalam misi Polres Sumedang sebagai berikut.
						</p>
				</div>
				<ul class="list no_border spacing">
						<li class="bullet style_2">Menyelenggarakan pelayanan kamtibmas prima/unggul.</li>
						<li class="bullet style_2">Memberikan perlindungan, pengayoman, pelayanan dan bimbingan kepada masyarakat.</li>
						<li class="bullet style_2">Melaksanakan kegiatan kemitraan dan kerjasama dengan masyarakat dan meningkatkan sinergi Polisional antar Intansi/Lembaga.</li>
						<li class="bullet style_2">Meningkatkan peran Bhabinkamtibmas dalam mengimplemen- tasikan strategi Polmas yang berada di desa/kelurahan.</li>
						<li class="bullet style_2">Melakukan penegakan hukum yang tegas dan berkeadilan, menjunjung tinggi HAM, anti KKN, anti kekerasandan terpenuhinya hak tersangka/ saksi.</li>
						<li class="bullet style_2">Melaksanakan deteksi dini dan peringatan dini secara cepat, tepat dan akurat.</li>
						<li class="bullet style_2">Mewujudkan keamanan, keselamatan, ketertiban dan kelancaran lalu lintas.</li>
						<li class="bullet style_2">Menjaga dan memelihara situasi dan kondisi yang kondusif di wilayah hukum Polres Sumedang dengan mengoptimalkan peran fungsi Pre-emtif, Preventif dan Refresif.</li>
					</ul>
			</div>
			<div class="column column_2_2">
				<h3 class="box_header page_margin_top">TUJUAN</h3>
				<div class="text" style="text-align:justify;text-indent: 50px;">
					<p>
						Sesuai dengan visi yang telah ditetapkan, maka langkah upaya tindakan untuk mencapai visi tersebut, diwujudkan dalam bentuk rumusan tugas, kewajiban dan rancangan tindakan dengan berbagai indikatornya, yang disusun dalam misi Polres Sumedang sebagai berikut.
						</p>
				</div>
				<ul class="list no_border spacing">
						<li class="bullet style_2">Terwujudnya pelayanan kamtibmas yang unggul, dengan birokrasi pelayanan yang cepat, tepat, akurat, tidak diskriminatif dan akuntabel serta melakukan tindakan yang proaktif daripada reaktif, sehingga tercipta peningkatan kepercayaan masyarakat terhadap Polri.</li>
						<li class="bullet style_2">Terbangun dan terjalinnya hubungan kerjasama yang harmonis, koordinatif, integritas dan sinergi antar instansi/lembaga dan masyarakat, secara bersama-sama menciptakan situasi yang kondusif dan menjaga serta memelihara Kambtibmas.</li>
						<li class="bullet style_2">Terwujudnya penegakkan hukum yang transparan, akuntabel, anti KKN, anti kekerasan, tidak melanggar HAM dan memenuhi rasa keadilan masyarakat, serta profesionalisme dalam pengungkapan dan penyelesaian proses tindak pidana.</li>
						<li class="bullet style_2">Untuk mendekatkan pelayanan, menampung dan menyampaikan informasi kamtibmas, menyelesaikan permasalahan tindak pidana ringan bersama tokoh masyarakat, memberikan perlindungan, pengayoman dan bimbingan kepada masyarakat.</li>
						<li class="bullet style_2">Terciptanya situasi dan kondisi yang kondusif, terhadap semua aspek kehidupan yang dapat menggangu kamtibmas, sehingga aktiftas masyarakat dan penyelenggaraan pemerintahan terbebas dari ancaman, gangguan dan hambatan.</li>
						<li class="bullet style_2">Terwujudnya situasi dan kondisi Kamseltibcarlantas yang aman, tertib dan terkendali, sehingga terjamin keselamatan dan kelancaran arus orang dan barang.</li>
						<li class="bullet style_2">Terwujudnya organisasi Polri yang good governance dan clean goverment.</li>
						<li class="bullet style_2">Terwujudnya Reformasi Birokrasi Polri terhadap perubahan mind set dan culture set.</li>
						<li class="bullet style_2">Terwujudnya Polri yang profesional, bermoral, modern dan unggul.</li>
					</ul>
			</div>
  	</div>
	</div>
{% endblock %}
