{% extends "users/layout.html" %} {% block content %}
<section class="home-section" id="home" data-aos="fade-up" data-aos-duration="3000"
    data-aos-anchor-placement="center-bottom">

    <!--begin container -->
    <div class="container">
        <div class="hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{baseURL}}/assets/front/logo.png" alt="" class="img-fluid mt-5">
                    </div>
                </div>
            </div>
        </div>
        <!--begin row -->
        <div class="row align-items-center">

        </div>

    </div>
    <!--end container -->

</section>
<!--end home section -->


<!--begin section-white -->
<section class="section-white" id="about" data-aos="fade-up" data-aos-anchor-placement="center-bottom">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">

                <!-- <h2>How It Works</h2> -->

            </div>
            <!--end col-md-12 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services">

                    <i class="bi bi-journal-check blue"></i>

                    <h4><a href="#" class="text-dark">Perizinan & UKL - UPL</a></h4>

                    <p>Temukan gambaran umum terkait penerbitan perizinan lingkungan dan UKL-UPL.</p>

                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services">

                    <i class="bi bi-calendar-event-fill orange"></i>

                    <h4><a href="#" class="text-dark">Kegiatan</a></h4>

                    <p>Temukan kontribusi BPLH dalam meningkatkan kualitas lingkungan hidup di Kota Bandung tercinta.
                    </p>

                </div>

            </div>
            <!--end col-md-4 -->

            <!--begin col-md-4 -->
            <div class="col-md-4">

                <div class="main-services">

                    <i class="bi bi-megaphone navy"></i>

                    <h4><a href="https://lapor.go.id" class="text-dark">Sampaikan Aspirasimu</a></h4>

                    <p>LAPOR! adalah sebuah sarana aspirasi dan pengaduan berbasis media sosial yang mudah diakses dan
                        terpadu.
                    </p>

                </div>

            </div>
            <!--end col-md-4 -->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end section-white -->

<!--begin section-white -->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row align-items-center">

            <!--begin col-md-6-->
            <div class="col-md-6" data-aos="fade-right" data-aos-duration="2200">

                <h3>Dinas Lingkungan Hidup dan Kebersihan</h3>

                <p>Temukan profil lengkap DLHK Kota Bandung, Meliputi : </p>

                <ul class="benefits">
                    <li><i class="bi bi-check green"></i>Visi dan Misi</li>
                    <li><i class="bi bi-check green"></i>Tugas Pokok</li>
                    <li><i class="bi bi-check green"></i>Fungsi DLHK</li>
                </ul>

                <a href="index.html#" class="scrool"><button type="button" class="btn btn-lg btn-success">Lihat
                        Profil</button></a>

            </div>
            <!--end col-md-6-->

            <!--begin col-md-6-->
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="2000">

                <div class="div-image-logo">
                    <img src="{{baseURL}}/assets/front/logo.png" class="width-100 responsive-top-margins"
                        alt="logo.png">
                </div>

            </div>
            <!--end col-sm-6-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white-->


<!--begin testimonials section -->
<section class="section-grey" data-aos="fade-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom">

    <!--begin container -->
    <div class="container" style="overflow: hidden">

        <!--begin row -->
        <div class="row">

            <!--begin col md 12 -->
            <div class="col-md-12 mx-auto padding-top-10 padding-bottom-10">

                <h2 class="text-center mb-5">Kegiatan DLHK Terbaru</h2>

                <!--begin testimonials carousel -->
                <div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">

                    <!--begin carousel-indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <!-- <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="2"
              aria-label="Slide 3"></button> -->
                    </div>
                    <!--end carousel-indicators -->

                    <!--begin carousel-inner -->
                    <div class="carousel-inner">

                        <!--begin carousel-item -->
                        <div class="carousel-item active">

                            <!--begin row -->
                            <div class="row align-items-center testim-inner">

                                <!--begin col-md-6 -->
                                <div class="col-md-6">

                                    <!--begin video-popup-wrapper-->
                                    <div class="video-popup-wrapper margin-right-25">

                                        <!--begin popup-gallery-->
                                        <div class="popup-gallery">

                                            <img src="{{baseURL}}/assets/front/galeri/Pelatihan-Penanggulangan-kebakaran-4.jpg"
                                                alt="testimonials"
                                                class="width-100 image-shadow video-popup-image responsive-bottom-margins">

                                            <!-- <a class="popup4 video-play-icon" href="https://www.youtube.com/watch?v=FPfQMVf4vwQ">
                        <i class="bi bi-caret-right-fill"></i>
                      </a> -->

                                        </div>
                                        <!--end popup-gallery-->

                                    </div>
                                    <!--end video-popup-wrapper-->

                                </div>
                                <!--end col-md-6 -->

                                <!--begin col-md-6 -->
                                <div class="col-md-6 testim-info">

                                    <!-- <i class="bi bi-chat-left-quote green"></i> -->
                                    <h3>Pelatihan Penanggulangan Kebakaran</h3>
                                    <p>BPLH Kota Bandung bekerja sama dengan Dinas Penanggulangan dan Penanganan
                                        Kebakaran (DPPK) Kota
                                        Bandung mengadakan Sosialisasi Penanggulangan dan Penanganan Kebakaran pada hari
                                        Jumat (14/11/2014)
                                        bertempat di kantor BPLH Kota Bandung</p>

                                    <h6><span class="bi bi-person mr-2"> Admin <span class="bi bi-stopwatch red mr-2">
                                                {{NOW|date('d F Y')}}</span></span></h6>

                                </div>
                                <!--end col-md-5 -->

                            </div>
                            <!--end row -->

                        </div>
                        <!--end carousel-item -->
                        <!--begin carousel-item -->
                        <div class="carousel-item">

                            <!--begin row -->
                            <div class="row align-items-center testim-inner">

                                <!--begin col-md-6 -->
                                <div class="col-md-6">

                                    <!--begin video-popup-wrapper-->
                                    <div class="video-popup-wrapper margin-right-25">

                                        <!--begin popup-gallery-->
                                        <div class="popup-gallery">

                                            <img src="{{baseURL}}/assets/front/galeri/Prabu-2.jpg" alt="testimonials"
                                                class="width-100 image-shadow video-popup-image responsive-bottom-margins">

                                            <!-- <a class="popup4 video-play-icon" href="https://www.youtube.com/watch?v=FPfQMVf4vwQ">
                        <i class="bi bi-caret-right-fill"></i>
                      </a> -->

                                        </div>
                                        <!--end popup-gallery-->

                                    </div>
                                    <!--end video-popup-wrapper-->

                                </div>
                                <!--end col-md-6 -->

                                <!--begin col-md-6 -->
                                <div class="col-md-6 testim-info">

                                    <!-- <i class="bi bi-chat-left-quote green"></i> -->
                                    <h3>Ridwan Kamil meluncurkan sosok “Prabu” (Pahlawan Urang Bandung) </h3>
                                    <p>Wali Kota Bandung Ridwan Kamil kini meluncurkan sosok “Prabu” (Pahlawan Urang
                                        Bandung) sebagai
                                        relawan yang ikut berperan langsung untuk menegakan Perda K3 di Kota Bandung</p>

                                    <h6><span class="bi bi-person mr-2"> Admin <span class="bi bi-stopwatch red mr-2">
                                                {{NOW|date('d F Y')}}</span></span></h6>

                                </div>
                                <!--end col-md-5 -->

                            </div>
                            <!--end row -->

                        </div>
                        <!--end carousel-item -->

                    </div>
                    <!--end carousel-inner -->

                </div>
                <!--end testimonials carousel -->

            </div>
            <!--end col md 12-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end testimonials section -->

<!--begin blog -->
<section class="section-grey" id="blog" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center">

                <h2>Eco Concept</h2>

            </div>
            <!--end col-md-12-->

        </div>
        <!--end row-->

        <!--begin row-->
        <div class="row">

            <!--begin col-sm-4 -->
            <div class="col-md-4">

                <!--begin blog-item -->
                <div class="blog-item">

                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="index.html#">
                                <img src="{{baseURL}}/assets/front/eco/limbah-b3.jpg" class="width-100" alt="pic">
                                <span class="eye-wrapper2"><i class="bi bi-link-45deg"></i></span>
                            </a>
                        </div>
                    </div>
                    <!--end popup image -->

                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">

                        <h3 class="blog-title"><a href="index.html#">Sekilas Limbah B3</a></h3>

                        <i class="bi bi-person-circle"></i> Admin
                        <i class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}

                        <p class="text-justify mb-3">Karakteristik B3 dan Limbah B3 Mudah meledak Mudah terbakar Reaktif
                            Beracun
                            Infeksius Korosif Kewenangan
                            pengelolaan limbah B3 di Kota Bandung ...</p>
                        <a href="#" class="link-dark green">Read More <i class="bi bi-chevron-double-right"></i></a>
                    </div>
                    <!--end blog-item-inner -->

                </div>
                <!--end blog-item -->

            </div>
            <!--end col-sm-4-->

            <!--begin col-sm-4 -->
            <div class="col-md-4">

                <!--begin blog-item -->
                <div class="blog-item">

                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="index.html#">
                                <img src="{{baseURL}}/assets/front/eco/Adiwiyata.png" class="width-100" alt="pic">
                                <span class="eye-wrapper2"><i class="bi bi-link-45deg"></i></span>
                            </a>
                        </div>
                    </div>
                    <!--end popup image -->

                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">

                        <h3 class="blog-title"><a href="index.html#">Sekolah Adiwiyata</a></h3>

                        <i class="bi bi-person-circle"></i> Admin
                        <i class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}

                        <p class="mb-3">Definisi Adiwiyata : Tempat yang baik dan ideal dimana dapat diperoleh segala
                            ilmu
                            pengetahuan dan
                            berbagai norma serta etika yang dapat menjadi dasar manusia ...</p>
                        <a href="#" class="link-dark green">Read More <i class="bi bi-chevron-double-right"></i></a>

                    </div>
                    <!--end blog-item-inner -->

                </div>
                <!--end blog-item -->

            </div>
            <!--end col-sm-4-->

            <!--begin col-sm-4 -->
            <div class="col-md-4">

                <!--begin blog-item -->
                <div class="blog-item">

                    <!--begin popup image -->
                    <div class="popup-wrapper">
                        <div class="popup-gallery">
                            <a href="index.html#">
                                <img src="{{baseURL}}/assets/front/eco/limbah-organik.jpg" class="width-100" alt="pic">
                                <span class="eye-wrapper2"><i class="bi bi-link-45deg"></i></span>
                            </a>
                        </div>
                    </div>
                    <!--end popup image -->

                    <!--begin blog-item_inner -->
                    <div class="blog-item-inner">

                        <h3 class="blog-title"><a href="index.html#">Limbah Organik</a></h3>

                        <i class="bi bi-person-circle"></i> Admin
                        <i class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}

                        <p class="mb-3">Limbah organik memiliki ciri-ciri yang bisa memudahkan kita dalam mengenalinya.
                            Ciri umum
                            dari limbah
                            jenis organik diantaranya yaitu ...</p>
                        <a href="#" class="link-dark green">Read More <i class="bi bi-chevron-double-right"></i></a>
                    </div>
                    <!--end blog-item-inner -->

                </div>
                <!--end blog-item -->

            </div>
            <!--end col-sm-4-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end blog -->

<!-- Instagram Section Begin -->
<div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="{{baseURL}}/assets/front/galeri/4-slider.jpg" data-aos="zoom-out"
        data-aos-duration="3000">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">See More</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="{{baseURL}}/assets/front/galeri/2-slider-.jpg" data-aos="zoom-out"
        data-aos-duration="3500">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">See More</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="{{baseURL}}/assets/front/galeri/1-slider.jpg" data-aos="zoom-out"
        data-aos-duration="2000">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">See More</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="{{baseURL}}/assets/front/galeri/6-slider.jpg" data-aos="zoom-out"
        data-aos-duration="4000">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">See More</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="{{baseURL}}/assets/front/galeri/PRABU-1.jpg" data-aos="zoom-out"
        data-aos-duration="2500">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">See More</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="{{baseURL}}/assets/front/galeri/Prabu-2.jpg" data-aos="zoom-out"
        data-aos-duration="3000">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">See More</a></h5>
        </div>
    </div>
</div>
<!-- Instagram Section End -->

{% endblock %}