{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white" id="contact">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6 -->
            <div class="col-md-6" hidden>

                <h3>Get in touch</h3>

                <!--begin success message -->
                <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us
                    soon.
                    Thank You!</p>
                <!--end success message -->

                <!--begin contact form -->
                <form id="contact-form" class="contact"
                    action="http://demo.epic-webdesign.com/tf-smart/v2/php/contact.php" method="post">

                    <input class="contact-input white-input" required="" name="contact_names"
                        placeholder="Nama Lengkap*" type="text">

                    <input class="contact-input white-input" required="" name="contact_email" placeholder="Email*"
                        type="email">

                    <input class="contact-input white-input" required="" name="contact_phone" placeholder="No Telepon*"
                        type="text">

                    <textarea class="contact-commnent white-input" rows="2" cols="20" name="contact_message"
                        placeholder="Pesan anda ..."></textarea>

                    <input value="Kirim Pesan " id="submit-button" class="contact-submit" type="submit">

                </form>
                <!--end contact form -->

            </div>
            <!--end col-md-6 -->

            <!--begin col-md-6 -->
            <div class="col-md-12 responsive-top-margins">

                <h3>Hubungi Kami:</h3>

                <iframe hidden
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.999420137295!2d107.62313745062296!3d-6.890671269320322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7ab973f54cf%3A0x9e632593613caa3a!2sDinas%20Lingkungan%20Hidup%20dan%20Kebersihan%20Kota%20Bandung!5e0!3m2!1sid!2sid!4v1627123750083!5m2!1sid!2sid"
                    width="600" height="270" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                <!-- <h5>Head Office</h5> -->

                <!-- <p class="contact-info"><i class="bi bi-geo-alt-fill"></i> Jl. Sadang Tengah No.4-6, Sekeloa, Kecamatan Coblong, Kota Bandung, Jawa Barat 40133</p> -->

                <p class="contact-info"><i class="bi bi-envelope-open-fill"></i>ipalap.dlhk@gmail.com</p>
                <p class="contact-info"><i class="bi bi-instagram"></i><a href="https://www.instagram.com/dlh_kotabandung" target="_blank">@dlh_kotabandung</a></p>
                <p class="contact-info"><i class="bi bi-twitter"></i><a href="#" target="_blank">-</a></p>
                <p class="contact-info"><i class="bi bi-telephone-fill"></i> (022) 2514327</p>

            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}