{% extends "users/layout.html" %} {% block content %}
<input id="baseUrl" value="{{baseURL}}" hidden>
	<div class="page_header clearfix page_margin_top">
		<div class="page_header_left">
			<h2 class="page_title">GIAT COVID-19</h2>
		</div>
		<div class="page_header_right">
			<ul class="bread_crumb">
				<li>
					<a title="Home" href="index.html@page=home.html">
						Home
					</a>
				</li>
				<li class="separator icon_small_arrow right_gray">
					&nbsp;
				</li>
        <li>
          Giat Covid-19
        </li>
				<li>

				</li>
			</ul>
		</div>
	</div>
	<div class="page_layout clearfix">
		<div class="divider_block clearfix">
			<hr class="divider first">
			<hr class="divider subheader_arrow">
			<hr class="divider last">
		</div>
		<div class="row page_margin_top">
			<div class="column column_2_3">
				<div class="caroufredsel_wrapper caroufredsel_wrapper_small_slider">
					<ul class="small_slider id-small_slider">

					</ul>
				</div>
				<div id="small_slider" class='slider_posts_list_container small'>
				</div>
				<h4 class="box_header page_margin_top">Berita Terbaru COVID-19</h4>
				<div class="row" id="berita-covid-terbaru">
					<ul class="blog column column_1_2" >
						<li class="post">
							<a href="index.html@page=post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">
								<img src='{{baseURL}}/assets/users/images/samples/330x242/image_10.jpg' alt='img'>
							</a>
							<div class="post_content">
								<h2 class="with_number">
									<a href="index.html@page=post_small_image.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
									<a class="comments_number" href="index.html@page=post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
								</h2>
								<ul class="post_details">
									<li class="category"><a href="index.html@page=category&amp;cat=world.html" title="WORLD">WORLD</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
								<p>Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
								<a class="read_more" href="index.html@page=post_small_image.html" title="Read more"><span class="arrow"></span><span>READ MORE</span></a>
							</div>
						</li>
						<li class="post">
							<a href="index.html@page=post.html" title="Built on Brotherhood, Club Lives Up to Name">
								<img src='{{baseURL}}/assets/users/images/samples/330x242/image_05.jpg' alt='img'>
							</a>
							<div class="post_content">
								<h2 class="with_number">
									<a href="index.html@page=post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
									<a class="comments_number" href="index.html@page=post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
								</h2>
								<ul class="post_details">
									<li class="category"><a href="index.html@page=category&amp;cat=health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
								<p>Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
								<a class="read_more" href="index.html@page=post.html" title="Read more"><span class="arrow"></span><span>READ MORE</span></a>
							</div>
						</li>
						<li class="post">
							<a href="index.html@page=post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">
								<span class="icon gallery"></span>
								<img src='{{baseURL}}/assets/users/images/samples/330x242/image_03.jpg' alt='img'>
							</a>
							<div class="post_content">
								<h2 class="with_number">
									<a href="index.html@page=post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
									<a class="comments_number" href="index.html@page=post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
								</h2>
								<ul class="post_details">
									<li class="category"><a href="index.html@page=category&amp;cat=health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
								<p>Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
								<a class="read_more" href="index.html@page=post_gallery.html" title="Read more"><span class="arrow"></span><span>READ MORE</span></a>
							</div>
						</li>
					</ul>
					<ul class="blog column column_1_2">
						<li class="post">
							<a href="index.html@page=post.html" title="Built on Brotherhood, Club Lives Up to Name">
								<img src='{{baseURL}}/assets/users/images/samples/330x242/image_04.jpg' alt='img'>
							</a>
							<div class="post_content">
								<h2 class="with_number">
									<a href="index.html@page=post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
									<a class="comments_number" href="index.html@page=post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
								</h2>
								<ul class="post_details">
									<li class="category"><a href="index.html@page=category&amp;cat=world.html" title="WORLD">WORLD</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
								<p>Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
								<a class="read_more" href="index.html@page=post.html" title="Read more"><span class="arrow"></span><span>READ MORE</span></a>
							</div>
						</li>
						<li class="post">
							<a href="index.html@page=post.html" title="Built on Brotherhood, Club Lives Up to Name">
								<img src='{{baseURL}}/assets/users/images/samples/330x242/image_12.jpg' alt='img'>
							</a>
							<div class="post_content">
								<h2 class="with_number">
									<a href="index.html@page=post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
									<a class="comments_number" href="index.html@page=post.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
								</h2>
								<ul class="post_details">
									<li class="category"><a href="index.html@page=category&amp;cat=health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
								<p>Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
								<a class="read_more" href="index.html@page=post.html" title="Read more"><span class="arrow"></span><span>READ MORE</span></a>
							</div>
						</li>
						<li class="post">
							<a href="index.html@page=post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">
								<span class="icon gallery"></span>
								<img src='{{baseURL}}/assets/users/images/samples/330x242/image_13.jpg' alt='img'>
							</a>
							<div class="post_content">
								<h2 class="with_number">
									<a href="index.html@page=post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
									<a class="comments_number" href="index.html@page=post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
								</h2>
								<ul class="post_details">
									<li class="category"><a href="index.html@page=category&amp;cat=health.html" title="HEALTH">HEALTH</a></li>
									<li class="date">
										10:11 PM, Feb 02
									</li>
								</ul>
								<p>Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
								<a class="read_more" href="index.html@page=post_gallery.html" title="Read more"><span class="arrow"></span><span>READ MORE</span></a>
							</div>
						</li>
					</ul>
				</div>
				<ul class="pagination clearfix page_margin_top_section">
					<li class="left">
						<a href="##" title="">&nbsp;</a>
					</li>
					<li class="selected">
						<a href="##" title="">
							1
						</a>
					</li>
					<li>
						<a href="##" title="">
							2
						</a>
					</li>
					<li>
						<a href="##" title="">
							3
						</a>
					</li>
					<li class="right">
						<a href="##" title="">&nbsp;</a>
					</li>
				</ul>
			</div>
			<div class="column column_1_3">
				<h4 class="box_header">Informasi COVID-19</h4>
				<ul class="blog small_margin clearfix">
					<iframe src="kawalcovid" width="100%" height="380" scrolling="no" frameborder="0"></iframe>
					<div class="kopi-covid"> </div>
				</ul>
				<h4 class="box_header page_margin_top_section">Pengumuman COVID-19</h4>
				<ul class="blog small clearfix">
					<li class="post">
						<a href="index.html@page=post.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">
						</a>
						<div class="">
							<h5>
								<a href="index.html@page=post.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a>
							</h5>
							<ul class="post_details simple">
								<li class="category"><a href="index.html@page=category&amp;cat=science.html" title="SCIENCE">SCIENCE</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</div>
					</li>
					<li class="post">
						<a href="index.html@page=post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">
						</a>
						<div class="">
							<h5>
								<a href="index.html@page=post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">Syrian Civilians Trapped For Months Continue To Be Evacuated</a>
							</h5>
							<ul class="post_details simple">
								<li class="category"><a href="index.html@page=category&amp;cat=science.html" title="SCIENCE">SCIENCE</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</div>
					</li>
					<li class="post">
						<a href="index.html@page=post_quote.html" title="Built on Brotherhood, Club Lives Up to Name">
						</a>
						<div class="">
							<h5>
								<a href="index.html@page=post_quote.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
							</h5>
							<ul class="post_details simple">
								<li class="category"><a href="index.html@page=category&amp;cat=science.html" title="SCIENCE">SCIENCE</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</div>
					</li>
					<li class="post">
						<a href="index.html@page=post_gallery.html" title="Nuclear Fusion Closer to Becoming a Reality">
						</a>
						<div class="">
							<h5>
								<a href="index.html@page=post_gallery.html" title="Nuclear Fusion Closer to Becoming a Reality">Nuclear Fusion Closer to Becoming a Reality</a>
							</h5>
							<ul class="post_details simple">
								<li class="category"><a href="index.html@page=category&amp;cat=science.html" title="SCIENCE">SCIENCE</a></li>
								<li class="date">
									10:11 PM, Feb 02
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<a class="more page_margin_top" href="#">LOAD MORE</a>
				<!-- <h4 class="box_header page_margin_top_section">Top Authors</h4>
				<ul class="authors rating clearfix">
					<li class="author">
						<a class="thumb" href="index.html@page=author.html" title="Debora Hilton">
							<img src='{{baseURL}}/assets/users/images/samples/Team_100x100/image_01.jpg' alt='img'>
							<span class="number animated_element" data-value="34"></span>
						</a>
						<div class="details">
							<h5><a href="index.html@page=author.html" title="Debora Hilton">Debora Hilton</a></h5>
							<h6>EDITOR</h6>
						</div>
					</li>
					<li class="author">
						<a class="thumb" href="index.html@page=author.html" title="Anna Shubina">
							<img src='{{baseURL}}/assets/users/images/samples/Team_100x100/image_02.jpg' alt='img'>
							<span class="number animated_element" data-value="25"></span>
						</a>
						<div class="details">
							<h5><a href="index.html@page=author.html" title="Anna Shubina">Anna Shubina</a></h5>
							<h6>EDITOR</h6>
						</div>
					</li>
					<li class="author">
						<a class="thumb" href="index.html@page=author.html" title="Liam Holden">
							<img src='{{baseURL}}/assets/users/images/samples/Team_100x100/image_03.jpg' alt='img'>
							<span class="number animated_element" data-value="9"></span>
						</a>
						<div class="details">
							<h5><a href="index.html@page=author.html" title="Liam Holden">Liam Holden</a></h5>
							<h6>PUBLISHER</h6>
						</div>
					</li>
					<li class="author">
						<a class="thumb" href="index.html@page=author.html" title="Heather Dale">
							<img src='{{baseURL}}/assets/users/images/samples/Team_100x100/image_04.jpg' alt='img'>
							<span class="number animated_element" data-value="2"></span>
						</a>
						<div class="details">
							<h5><a href="index.html@page=author.html" title="Heather Dale">Heather Dale</a></h5>
							<h6>ILLUSTRATOR</h6>
						</div>
					</li>
				</ul> -->
			</div>
		</div>
	</div>
{% endblock %}
