{% extends "users/layout.html" %} {% block content %}

<section class="section-white">

    <!--begin container-->
    <div class="container">
  
      <!--begin row-->
      <div class="row align-items-center">
  
        <!--begin col-md-6-->
        <div class="col-md-12">
  
          <h3>Dasar Hukum</h3>
  
          <p>Dilampirkan antara lain  : </p>
          <table class="table table-borderless fs-5">
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td><a class="text-success" href="#" onclick="pdfmodal('Undang-undang Nomor 11 Tahun 2020 tentang Cipta Kerja', 'public/dasar-hukum/UU_Nomor_11_Tahun_2020.pdf')">Undang-undang Nomor 11 Tahun 2020 tentang Cipta Kerja</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td><a class="text-success" href="#" onclick="pdfmodal('Undang-undang Nomor 32 Tahun 2009 tentang Perlindungan dan Pengelolaan Lingkungan Hidup', 'public/dasar-hukum/UU 32 Tahun 2009 (PPLH).pdf')">Undang-undang Nomor 32 Tahun 2009 tentang Perlindungan dan Pengelolaan Lingkungan Hidup</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td><a class="text-success" href="#" onclick="pdfmodal('Peraturan Pemerintah Nomor 5 Tahun 2021 tentang Penyelenggaraan Perizinan Berusaha Berbasis Resiko', 'public/dasar-hukum/PP_Nomor_5_Tahun_2021.pdf')">Peraturan Pemerintah Nomor 5 Tahun 2021 tentang Penyelenggaraan Perizinan Berusaha Berbasis Resiko</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td><a class="text-success" href="#" onclick="pdfmodal('Peraturan Pemerintan Nomor 22 Tahun 2021 tentang Penyelenggaraan Perlindungan dan Pengelolaan Lingkungan Hidup', 'public/dasar-hukum/PP_Nomor_22_Tahun_2021.pdf')">Peraturan Pemerintan Nomor 22 Tahun 2021 tentang Penyelenggaraan Perlindungan dan Pengelolaan Lingkungan Hidup</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td><a class="text-success" href="#" onclick="pdfmodal('Peraturan Menteri Lingkungan Hidup dan Kehutanan Nomor 5 Tahun 2021 tentang Tata Cara Penerbitan Persetujuan Teknis dan Surat Kelayakan Operasional Bidang Pengendalian Pencemaran Lingkungan', 'public/dasar-hukum/PermenLHK 5 thn 2021.pdf')">Peraturan Menteri Lingkungan Hidup dan Kehutanan Nomor 5 Tahun 2021 tentang Tata Cara Penerbitan Persetujuan Teknis dan Surat Kelayakan Operasional Bidang Pengendalian Pencemaran Lingkungan</a></td>
            </tr>
        </table>
  
        </div>
        <!--end col-md-6-->
  
      </div>
      <!--end row-->
  
    </div>
    <!--end container-->
  
  </section>

{% endblock %}