{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Eco Concept</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/eco/Adiwiyata.png" style="width: 90% !important;"
                            class="card-img-top mx-auto" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sekolah Adiwiyata</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text mt-3">Definisi Adiwiyata : Tempat yang baik dan ideal dimana dapat
                                diperoleh
                                segala ilmu pengetahuan dan berbagai norma serta etika yang dapat menjadi dasar manusia.
                            </p>
                            <a href="#" class="link-success green"> Read More >></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/eco/limbah-organik.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Limbah Organik</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text mt-3">Limbah organik memiliki ciri-ciri yang bisa memudahkan kita dalam
                                mengenalinya.</p>
                            <a href="#" class="link-success green"> Read More >></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/eco/limbah-b3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sekilas Limbah B3</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text mt-3">Karakteristik B3 dan Limbah B3 Mudah meledak Mudah terbakar
                                Reaktif
                                Beracun Infeksius Korosif Kewenangan pengelolaan limbah B3 di Kota Bandung.</p>
                            <a href="#" class="link-success green"> Read More >></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}