{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Kegiatan Dinas Lingkungan Hidup dan Kebersihan</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/galeri/4-slider.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Pelatihan Penanggulangan Kebakaran</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text text-justify mt-3">BPLH Kota Bandung bekerja sama dengan Dinas
                                Penanggulangan
                                dan
                                Penanganan Kebakaran (DPPK) Kota
                                Bandung mengadakan Sosialisasi Penanggulangan dan Penanganan Kebakaran pada hari Jumat
                                (14/11/2014)
                                bertempat di kantor BPLH Kota Bandung</p>
                            <button class="btn btn-link green">Read More >></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/galeri/2-slider-.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text mt-3">This is a longer card with supporting text below as a natural
                                lead-in
                                to additional content. This content is a little bit longer.</p>
                            <button class="btn btn-link green">Read More >></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/galeri/1-slider.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text mt-3">This is a longer card with supporting text below as a natural
                                lead-in
                                to additional content.</p>
                            <button class="btn btn-link green">Read More >></button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{baseURL}}/assets/front/galeri/6-slider.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <small class="text-muted"><i class="bi bi-person"></i> <span class="mr-3">Admin</span> <i
                                    class="bi bi-stopwatch"></i> {{NOW|date('d F Y')}}</small>
                            <p class="card-text mt-3">This is a longer card with supporting text below as a natural
                                lead-in
                                to additional content. This content is a little bit longer.</p>
                            <button class="btn btn-link green">Read More >></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}