<div id="menu-bar" class="menu_container clearfix sticky style_5">
	<nav>
<ul class="sf-menu">
<li class="selected" id="menu-home">
<a href="/home" title="Home">
HOME
</a>
</li>
<li class="submenu" id="menu-profile">
<a href="#" title="Pages">
PROFILE
</a>
<ul>
<li>
	<a href="/profile?params=kapolres&ids=1" title="About Style 1">
		KAPOLRES SUMEDANG
	</a>
</li>
<li>
	<a href="/profile?params=tentang&ids=1" title="About Style 1">
		TENTANG KAMI
	</a>
</li>
<li class="submenu">
	<a href="#" title="About Style 1">
		BAGIAN
	</a>
	<ul>
		<li>
			<a href="#" title="Blog With Right Sidebar">
				BAG OPS
			</a>
		</li>
		<li>
			<a href="#" title="Blog With Left Sidebar">
				BAG SUMDA
			</a>
		</li>
		<li>
			<a href="#" title="Blog With Left Sidebar">
				BAG REN
			</a>
		</li>
	</ul>
</li>
<li class="submenu">
	<a href="#" title="About Style 1">
		SEKSI
	</a>
	<ul>
		<li>
			<a href="#" title="Blog With Right Sidebar">
				PROPAM
			</a>
		</li>
		<li>
			<a href="#" title="Blog With Left Sidebar">
				PENGAWASAN
			</a>
		</li>
		<li>
			<a href="#" title="Blog With Left Sidebar">
				KEUANGAN
			</a>
		</li>
		<li>
			<a href="#" title="Blog With Left Sidebar">
				TIPOL
			</a>
		</li>
		<li>
			<a href="#" title="Blog With Left Sidebar">
				UMUM
			</a>
		</li>
	</ul>
</li>
<li>
	<a href="/profile?params=struktur-organisasi&ids=1" title="About Style 2">
		STRUKTUR ORGANISASI
	</a>
</li>
<li>
	<a href="/profile?params=visi-misi&ids=1" title="Default">
		VISI DAN MISI
	</a>
</li>
<li class="submenu">
	<a href="#" title="About Style 1">
		POLSEK
	</a>
	<ul>
		<li>
			<a href="/profile?params=polsek&ids=1" title="Blog With Right Sidebar">
				POLSEK URBAN
			</a>
		</li>
		<li>
			<a href="/profile?params=polsek&ids=1" title="Blog With Left Sidebar">
				POLSEK RURAL
			</a>
		</li>
		<li>
			<a href="/profile?params=polsek&ids=1" title="Blog With Left Sidebar">
				POLSEK PRARURAL
			</a>
		</li>
		<li>
			<a href="/profile?params=polsek&ids=1" title="Blog With Left Sidebar">
				POLSUB
			</a>
		</li>
	</ul>
</li>
</ul>
</li>
<li class="" id="menu-covid">
	<a href="/covid" title="Pages">
	GIAT COVID-19
	</a>
</li>
<li class="submenu">
<a href="#" title="Post Formats">
SATUAN FUNGSI
</a>
<ul id="satuan-fungsi">
<li>
	<a href="index.html@page=post.html" title="Post Default">
		SAT INTEL
	</a>
</li>
<li>
	<a href="index.html@page=post_gallery.html" title="Post Gallery">
		SAT RESKRIM
	</a>
</li>
<li>
	<a href="index.html@page=post_small_image.html" title="Post Small Image">
		SAT RES NARKOBA
	</a>
</li>
<li>
	<a href="index.html@page=post_video.html" title="Post Video YouTube">
		SAT LANTAS
	</a>
</li>
<li>
	<a href="index.html@page=post_video_2.html" title="Post Video Vimeo">
		SAT SABHARA
	</a>
</li>
<li>
	<a href="index.html@page=post_soundcloud.html" title="Post Soundcloud">
		SAT BINMAS
	</a>
</li>
<li>
	<a href="index.html@page=post_review.html" title="Post Review Style 1">
		SAT TAHTI
	</a>
</li>
</ul>
</li>
<li class="submenu" id="menu-pelayanan">
<a href="#" title="Blog">
PELAYANAN
</a>
<ul>
<li class="submenu">
	<a href="#" title="Blog 1 column">
		LANTAS
	</a>
	<ul>
		<li>
			<a href="/pelayanan?params=sim" title="Blog With Right Sidebar">
				SIM
			</a>
		</li>
		<li>
			<a href="/pelayanan?params=tilang" title="Blog With Left Sidebar">
				TILANG
			</a>
		</li>
	</ul>
</li>
<li class="submenu">
	<a href="index.html@page=home_3.html#" title="Blog 2 columns">
		SAMSAT
	</a>
	<ul>
		<li>
			<a href="#" title="Right Sidebar">
				GENDONG
			</a>
		</li>
		<li>
			<a href="#" title="Left Sidebar">
				SAMADES
			</a>
		</li>
		<li>
			<a href="#" title="Left Sidebar">
				KELILING
			</a>
		</li>
	</ul>
</li>
<li>
	<a href="#" title="Blog Small Slider">
		SPKT
	</a>
</li>
<li class="submenu">
	<a href="index.html@page=home_3.html#" title="Blog 2 columns">
		INTEL
	</a>
	<ul>
		<li>
			<a href="#" title="Right Sidebar">
				SKCK
			</a>
		</li>
	</ul>
</li>
</ul>
</li>
<li class="submenu" id="menu-informasi">
<a href="#" title="Authors">
INFORMASI
</a>
<ul>
<li>
	<a href="{{baseUrl}}berita" title="Authors List">
		BERITA
	</a>
</li>
<li>
	<a href="{{baseUrl}}kegiatan" title="Authors List">
		KEGIATAN
	</a>
</li>
<!-- <li>
	<a href="index.html@page=author.html" title="Author Single">
		Kegiatan
	</a>
</li> -->
</ul>
</li>
<!-- <li class="" id="menu-pengaduan">
	<a href="{{baseUrl}}kirimpengaduan" title="Blog 2 columns">
		PENGADUAN
	</a>
</li> -->
<li class="submenu">
<a href="index.html@page=home_3.html#" title="Categories">
INOVASI
</a>
<ul>
<li>
	<a href="https://drive.google.com/file/d/1Eon4mv5UAHXfwWy7fas2hqmZUsYPR7li/view?usp=sharing" target="_blank" title="Health">
		INFOPAKSIN
	</a>
</li>
<li>
	<a href="index.html@page=category&amp;cat=science.html" title="Science">
		inovasi #2
	</a>
</li>
<li>
	<a href="index.html@page=category&amp;cat=sports.html" title="Sports">
		inovasi #3
	</a>
</li>
</ul>
</li>
<li class="submenu">
<a href="index.html@page=contact.html" title="Contact">
HUBUNGI KAMI
</a>
<ul class="expand_left_contact">
<li>
	<a href="{{baseUrl}}login" title="Contact Style 2">
		<i class="" > </i> LOGIN USER
	</a>
</li>
</ul>
</li>
</ul>
</nav>
<div class="mobile_menu_container">
<a href="index.html@page=home_3.html#" class="mobile-menu-switch">
<span class="line"></span>
<span class="line"></span>
<span class="line"></span>
</a>
<div class="mobile-menu-divider"></div>
<nav>
	<ul class="mobile-menu">
	<li class="selected" id="menu-home-mobile">
	<a href="/home" title="Home">
	HOME
	</a>
	</li>
	<li class="submenu" id="menu-profile-mobile">
	<a href="#" title="Pages">
	PROFILE
	</a>
	<ul>
	<li>
		<a href="/profile?params=kapolres&ids=1" title="About Style 1">
			KAPOLRES SUMEDANG
		</a>
	</li>
	<li>
		<a href="/profile?params=tentang&ids=1" title="About Style 1">
			TENTANG KAMI
		</a>
	</li>
	<li class="submenu">
		<a href="#" title="About Style 1">
			BAGIAN
		</a>
		<ul>
			<li>
				<a href="#" title="Blog With Right Sidebar">
					BAG OPS
				</a>
			</li>
			<li>
				<a href="#" title="Blog With Left Sidebar">
					BAG SUMDA
				</a>
			</li>
			<li>
				<a href="#" title="Blog With Left Sidebar">
					BAG REN
				</a>
			</li>
		</ul>
	</li>
	<li class="submenu">
		<a href="#" title="About Style 1">
			SEKSI
		</a>
		<ul>
			<li>
				<a href="#" title="Blog With Right Sidebar">
					PROPAM
				</a>
			</li>
			<li>
				<a href="#" title="Blog With Left Sidebar">
					PENGAWASAN
				</a>
			</li>
			<li>
				<a href="#" title="Blog With Left Sidebar">
					KEUANGAN
				</a>
			</li>
			<li>
				<a href="#" title="Blog With Left Sidebar">
					TIPOL
				</a>
			</li>
			<li>
				<a href="#" title="Blog With Left Sidebar">
					UMUM
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/profile?params=struktur-organisasi&ids=1" title="About Style 2">
			STRUKTUR ORGANISASI
		</a>
	</li>
	<li>
		<a href="/profile?params=visi-misi&ids=1" title="Default">
			VISI DAN MISI
		</a>
	</li>
	<li class="submenu">
		<a href="#" title="About Style 1">
			POLSEK
		</a>
		<ul>
			<li>
				<a href="/profile?params=polsek&ids=1" title="Blog With Right Sidebar">
					POLSEK URBAN
				</a>
			</li>
			<li>
				<a href="/profile?params=polsek&ids=1" title="Blog With Left Sidebar">
					POLSEK RURAL
				</a>
			</li>
			<li>
				<a href="/profile?params=polsek&ids=1" title="Blog With Left Sidebar">
					POLSEK PRARURAL
				</a>
			</li>
			<li>
				<a href="/profile?params=polsek&ids=1" title="Blog With Left Sidebar">
					POLSUB
				</a>
			</li>
		</ul>
	</li>
	</ul>
	</li>
	<li class="" id="menu-covid-mobile">
		<a href="/covid" title="Pages">
		GIAT COVID-19
		</a>
	</li>
	<li class="submenu">
	<a href="#" title="Post Formats">
	SATUAN FUNGSI
	</a>
	<ul id="satuan-fungsi">
	<li>
		<a href="index.html@page=post.html" title="Post Default">
			SAT INTEL
		</a>
	</li>
	<li>
		<a href="index.html@page=post_gallery.html" title="Post Gallery">
			SAT RESKRIM
		</a>
	</li>
	<li>
		<a href="index.html@page=post_small_image.html" title="Post Small Image">
			SAT RES NARKOBA
		</a>
	</li>
	<li>
		<a href="index.html@page=post_video.html" title="Post Video YouTube">
			SAT LANTAS
		</a>
	</li>
	<li>
		<a href="index.html@page=post_video_2.html" title="Post Video Vimeo">
			SAT SABHARA
		</a>
	</li>
	<li>
		<a href="index.html@page=post_soundcloud.html" title="Post Soundcloud">
			SAT BINMAS
		</a>
	</li>
	<li>
		<a href="index.html@page=post_review.html" title="Post Review Style 1">
			SAT TAHTI
		</a>
	</li>
	</ul>
	</li>
	<li class="submenu" id="menu-pelayanan">
	<a href="#" title="Blog">
	PELAYANAN
	</a>
	<ul>
	<li class="submenu">
		<a href="#" title="Blog 1 column">
			LANTAS
		</a>
		<ul>
			<li>
				<a href="/pelayanan?params=sim" title="Blog With Right Sidebar">
					SIM
				</a>
			</li>
			<li>
				<a href="/pelayanan?params=tilang" title="Blog With Left Sidebar">
					TILANG
				</a>
			</li>
		</ul>
	</li>
	<li class="submenu">
		<a href="index.html@page=home_3.html#" title="Blog 2 columns">
			SAMSAT
		</a>
		<ul>
			<li>
				<a href="#" title="Right Sidebar">
					GENDONG
				</a>
			</li>
			<li>
				<a href="#" title="Left Sidebar">
					SAMADES
				</a>
			</li>
			<li>
				<a href="#" title="Left Sidebar">
					KELILING
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#" title="Blog Small Slider">
			SPKT
		</a>
	</li>
	<li class="submenu">
		<a href="index.html@page=home_3.html#" title="Blog 2 columns">
			INTEL
		</a>
		<ul>
			<li>
				<a href="#" title="Right Sidebar">
					SKCK
				</a>
			</li>
		</ul>
	</li>
	</ul>
	</li>
	<li class="submenu" id="menu-informasi-mobile">
	<a href="#" title="Authors">
	INFORMASI
	</a>
	<ul>
	<li>
		<a href="{{baseUrl}}berita" title="Authors List">
			BERITA
		</a>
	</li>
	<li>
		<a href="{{baseUrl}}kegiatan" title="Authors List">
			KEGIATAN
		</a>
	</li>
	<!-- <li>
		<a href="index.html@page=author.html" title="Author Single">
			Kegiatan
		</a>
	</li> -->
	</ul>
	</li>
	<!-- <li class="" id="menu-pengaduan">
		<a href="{{baseUrl}}kirimpengaduan" title="Blog 2 columns">
			PENGADUAN
		</a>
	</li> -->
	<li class="submenu">
	<a href="index.html@page=home_3.html#" title="Categories">
	INOVASI
	</a>
	<ul>
	<li>
		<a href="https://drive.google.com/file/d/1Eon4mv5UAHXfwWy7fas2hqmZUsYPR7li/view?usp=sharing" target="_blank" title="Health">
			INFOPAKSIN
		</a>
	</li>
	<li>
		<a href="index.html@page=category&amp;cat=science.html" title="Science">
			inovasi #2
		</a>
	</li>
	<li>
		<a href="index.html@page=category&amp;cat=sports.html" title="Sports">
			inovasi #3
		</a>
	</li>
	</ul>
	</li>
	<li class="submenu">
	<a href="index.html@page=contact.html" title="Contact">
	HUBUNGI KAMI
	</a>
	<ul class="expand_left_contact">
	<li>
		<a href="{{baseUrl}}login" title="Contact Style 2">
			<i class="" > </i> LOGIN USER
		</a>
	</li>
	</ul>
	</li>
	</ul>
</nav>
</div>
</div>
