{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Penapisan Persetujuan Teknis Pembuangan Air Limbah ke Badan Air Permukaan</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <img src="{{baseURL}}/assets/front/penapisan/penapisan_1.png" style="width: 90% !important;"
                            class="card-img-top mx-auto" alt="...">
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Panapisan Persetujuan Teknis Pemanfaatan Air Limbah Untuk Aplikasi ke Tanah</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <img src="{{baseURL}}/assets/front/penapisan/penapisan_2.png" style="width: 90% !important;"
                            class="card-img-top mx-auto" alt="...">
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>

<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Penapisan Persetujuan Teknis Pemanfaatan Air Limbah ke Formasi Tertentu</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <img src="{{baseURL}}/assets/front/penapisan/penapisan_3.png" style="width: 90% !important;"
                            class="card-img-top mx-auto" alt="...">
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>

{% endblock %}