{% extends "users/layout.html" %} {% block content %}

<section class="section-white">

    <!--begin container-->
    <div class="container">
  
      <!--begin row-->
      <div class="row align-items-center">
  
        <!--begin col-md-6-->
        
        <h3>Persyaratan PT/SLO</h3>
        <div class="col-md-12">
          <table class="table table-borderless fs-5">
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Form Surat Permohonan Pertek Air Limbah.</td>
                <td><a type="button" class="btn btn-sm btn-success" href="public/form/1. form surat permohonan pertek air limbah.docx" target="_blank"><i class="bi bi-box-arrow-down"></i> Download</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Form Surat Permohonan Pertek Emisi.</td>
                <td><a type="button" class="btn btn-sm btn-success" href="public/form/2. Form Surat Permohonan Pertek Emisi.docx" target="_blank"><i class="bi bi-box-arrow-down"></i> Download</a></td>
            </tr>
            
        </table>
          <!-- <p><h4>A.	Persyaratan Persetujuan Teknis : </h4></p>
  
          <ul class="benefits">
            <li><i class="bi bi-check green"></i>-  Surat permohonan persetujuan teknis </li>
            <li><i class="bi bi-check green"></i>-	NIB dan KBLI</li>
            <li><i class="bi bi-check green"></i>-	Izin Lingkungan / Persetujuan Lingkungan</li>
            <li><i class="bi bi-check green"></i>-	Standar Teknis atau Kajian Teknis</li>
          </ul>
          </div>
          <div class="col-md-12"> -->

          <!-- <p><h4>B.	Persyaratan SLO  : </h4></p>
  
          <ul class="benefits">
            <li><i class="bi bi-check green"></i>-	Surat Permohonan SLO</li>
            <li><i class="bi bi-check green"></i>-	Perizinan Berusaha</li>
            <li><i class="bi bi-check green"></i>-	Izin Lingkungan / Persetujuan Lingkungan</li>
            <li><i class="bi bi-check green"></i>-	Izin Lingkungan / Persetujuan Lingkungan</li>
            <li><i class="bi bi-check green"></i>-	Persetujuan Teknis</li>
            <li><i class="bi bi-check green"></i>-	Hasil Pemantauan Air Limbah yang diuji oleh laboratorium yang telah mendapat registrasi dari Menteri sesuai dengan ketentuan peraturan perundang-undangan</li>
            <li><i class="bi bi-check green"></i>-	Dokumen kontrol jaminan/jaminan kualitas (quality assurance /quatity control) mengenai tata cara uji Air Limbah</li>
            <li><i class="bi bi-check green"></i>-	Sertifikat registrasi laboratorium lingkungan</li>
          </ul> -->

  
        </div>
        <!--end col-md-6-->
  
      </div>
      <!--end row-->
  
    </div>
    <!--end container-->
  
  </section>

{% endblock %}