{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Profil DLH Kota Bandung</h1>
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <img src="{{baseURL}}/assets/front/sidilan.png" alt="logo.png" width="45%" class="img-fluid">
                </div>

                  <div class="container py-5">

                    <!-- For demo purpose -->
                    <div class="row text-center text-white mb-5">
                
                
                        <div class="row">
                            <div class="col-lg-7 mx-auto">
                                
                                <!-- Timeline -->
                                <ul class="timeline">
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="h5 mb-0"><b>1992</b></h1>
                                        <!-- <span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>21 March, 2019</span> -->
                                        <p class="text-small mt-2 font-weight-light">Bagian Lingkungan Hidup (BLH) dan Badan Pengendalian Dampak Lingkungan Daerah (BAPEDALDA)</p>
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="h5 mb-0"><b>1998</b></h1>
                                        <p class="text-small mt-2 font-weight-light">Penggabungan BPLH dengan badan Pengendalian Dampak Lingkungan Hidup Daerah Kotamadya Daerah tingkat II Bandung (BAPEDALDA)</p>
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="h5 mb-0"><b>2001</b></h1>
                                        <p class="text-small mt-2 font-weight-light">Perubahan BAPEDALDA menjadi Badan Pengelola Lingkungan Hidup (BPLH) Kota Bandung</p>
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="h5 mb-0"><b>2007</b></h1>
                                        <p class="text-small mt-2 font-weight-light">Terjadi Perampingan Struktur Organisasi dan Namanya tetap Badan Pengelola Lingkungan Hidup (BPLH)</p>
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="h5 mb-0"><b>2017</b></h1>
                                        <p class="text-small mt-2 font-weight-light">Dinas Lingkungan Hidup dan Kebersihan Kota Bandung merupakan perubahan dari BPLH Kota Bandung, sebagai tindak lanjut atas keluarnya Peraturan Daerah Kota Bandung Nomor 8 Tahun 2016 tentang Pembentukan dan Susunan Perangkat Daerah Kota Bandung dan Peraturan Walikota Bandung No 1390 Tahun 2016 tentang Kedudukan, Susunan Organisasi, Tugas dan Fungsi serta Tata Kerja Dinas Lingkungan Hidup dan Kebersihan (DLHK) Kota Bandung</p>
                                    </li>
                                    <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                        <div class="timeline-arrow"></div>
                                        <h1 class="h5 mb-0"><b>2021</b></h1>
                                        <p class="text-small mt-2 font-weight-light">Berdasarkan Peraturan Walikota No 120 tahun 2021, intansi Dinas Lingkungan Hidup dan Kebersihan Kota Bandung mengalami perubahan nomenklatur menjadi Dinas Lingkungan Hidup Kota Bandung</p>
                                    </li>
                                    
                                </ul><!-- End -->
                
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}