{% extends "users/layout.html" %} {% block content %}

<section class="section-white">

  <div class="container">
  
    <!--begin row-->
    <div class="row align-items-center">

      <!--begin col-md-6-->
      <div class="col-md-12">
        <h1>PROSEDUR PTSLO</h1>

        <h4>Definisi</h4>
        <h5>Persetujuan Teknis adalah persetujuan dari Pemerintah Pusat atau Pemerintah Daerah berupa ketentuan mengenai standar perlindungan dan pengelolaan lingkungan hidup dan/atau analisis mengenai dampak lalu lintas usaha dan/atau kegiatan sesuai peraturan perundang-undangan. (Pasal 1 angka 1 Peraturan Menteri LHK Nomor 5 Tahun 2021)</h5>
        <hr id="hr-vm">
        
        <h5>Persetujuan Teknis terdiri atas:</h5>
        <table class="table table-borderless fs-5">
          <tbody><tr>
            <td width="5%">A.</td>
            <td>Pemenuhan Baku Mutu Air Limbah.</td>
          </tr>
          <tr>
            <td width="5%">B.</td>
            <td>Pemenuhan Baku Mutu Emisi.</td>
          </tr>
          <tr>
            <td width="5%">C.</td>
            <td>Pengelolaan Limbah Bahan Berbahaya dan Beracun (Limbah B3)</td>
          </tr>
          <tr>
            <td width="5%">D.</td>
            <td>Analisis mengenai dampak lalu lintas</td>
          </tr>
        </tbody></table>
        <h5>Surat Kelayakan Operasional (SLO) adalah surat yang memuat pernyataan pemenuhan mengenai standar perlindungan dan pengelolaan lingkungan hidup usaha dan/atau kegiatan sesuai dengan ketentuan peraturan perundang-undangan. (Pasal 1 angka 17 Peraturan Menteri LHK Nomor 5 Tahun 2021)</h5>
      </div>
      <!--end col-md-6-->

    </div>
    <!--end row-->

    <br/>
    <div class="row align-items-center">

      <!--begin col-md-6-->
      <div class="col-md-12">
        <h3>1. Ruang Lingkup</h3>

        <h4>1.1	Persetujuan Teknis Pemenuhan Baku Mutu Air Limbah</h4>
        <hr id="hr-vm">
        
        <table class="table table-borderless fs-5">
          <tbody><tr>
            <td width="5%">A.</td>
            <td>Pembuangan Air Limbah ke Badan Air Permukaan (jenis dokumen: Kajian Teknis atau Standar Teknis)</td>
          </tr>
          <tr>
            <td width="5%">B.</td>
            <td>Pembuangan Air Limbah ke Formasi Tertentu dengan Cara Injeksi (jenis dokumen: Kajian Teknis).</td>
          </tr>
          <tr>
            <td width="5%">C.</td>
            <td>Pemanfaatan Air Limbah ke Formasi Tertentu untuk Imbuhan (jenis dokumen: Kajian Teknis)</td>
          </tr>
          <tr>
            <td width="5%">D.</td>
            <td>Pemanfaatan Air Limbah ke Formasi Tertentu untuk Resapan ke Permukaan Tanah (jenis dokumen: Kajian Teknis atau Standar Teknis)</td>
          </tr>
          <tr>
            <td width="5%">E.</td>
            <td>Pemanfaatan Air Limbah untuk Aplikasi ke Tanah - Menambah Nutrisi Tanah untuk Budidaya (jenis dokumen: Kajian Teknis)</td>
          </tr>
          <tr>
            <td width="5%">F.</td>
            <td>Pemanfaatan Air Limbah untuk Aplikasi ke Tanah - Penyiraman/Pencucian (jenis dokumen: Kajian Teknis atau Standar Teknis)</td>
          </tr>
        </tbody></table>

  

        <h4>1.2	Persetujuan Teknis Pemenuhan Baku Mutu Emisi</h4>
        <hr id="hr-vm">
        
        <table class="table table-borderless fs-5">
          <tbody><tr>
            <td>Pembuangan Emisi (jenis dokumen: Kajian Teknis atau Standar Teknis</td>
          </tr>
        </tbody></table>

        <h4>1.3	Surat Kelayakan Operasional</h4>
        <hr id="hr-vm">
        
        <table class="table table-borderless fs-5">
          <tbody>
            <tr>
              <td width="5%">A.</td>
              <td>Surat Kelayakan Operasi Instalasi Pengolahan Air Limbah</td>
            </tr>
            <tr>
              <td width="5%">B.</td>
              <td>Surat Kelayakan Operasi Alat Pengendali Emisi</td>
            </tr>
        </tbody></table>

      </div>
      <!--end col-md-6-->

    </div>
    <br/>
      <!--begin row-->
      <div class="row align-items-center">
  
        <!--begin col-md-6-->
        <div class="col-md-12">
  
          <h3>2. Dasar Hukum</h3>
  
          <h5>Dilampirkan antara lain  : </h5>
          <table class="table table-borderless fs-5">
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Undang-undang Nomor 11 Tahun 2020 tentang Cipta Kerja. <a class="text-success" href="#!" onclick="pdfmodal('Undang-undang Nomor 11 Tahun 2020 tentang Cipta Kerja', 'public/dasar-hukum/UU_Nomor_11_Tahun_2020.pdf')">[Unduh]</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Undang-undang Nomor 32 Tahun 2009 tentang Perlindungan dan Pengelolaan Lingkungan Hidup. <a class="text-success" href="#!" onclick="pdfmodal('Undang-undang Nomor 32 Tahun 2009 tentang Perlindungan dan Pengelolaan Lingkungan Hidup', 'public/dasar-hukum/UU 32 Tahun 2009 (PPLH).pdf')">[Unduh]</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Peraturan Pemerintah Nomor 5 Tahun 2021 tentang Penyelenggaraan Perizinan Berusaha Berbasis Resiko. <a class="text-success" href="#!" onclick="pdfmodal('Peraturan Pemerintah Nomor 5 Tahun 2021 tentang Penyelenggaraan Perizinan Berusaha Berbasis Resiko', 'public/dasar-hukum/PP_Nomor_5_Tahun_2021.pdf')">[Unduh]</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Peraturan Pemerintan Nomor 22 Tahun 2021 tentang Penyelenggaraan Perlindungan dan Pengelolaan Lingkungan Hidup. <a class="text-success" href="#!" onclick="pdfmodal('Peraturan Pemerintan Nomor 22 Tahun 2021 tentang Penyelenggaraan Perlindungan dan Pengelolaan Lingkungan Hidup', 'public/dasar-hukum/PP_Nomor_22_Tahun_2021.pdf')">[Unduh]</a></td>
            </tr>
            <tr>
                <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                <td>Peraturan Menteri Lingkungan Hidup dan Kehutanan Nomor 5 Tahun 2021 tentang Tata Cara Penerbitan Persetujuan Teknis dan Surat Kelayakan Operasional Bidang Pengendalian Pencemaran Lingkungan. <a class="text-success" href="#!" onclick="pdfmodal('Peraturan Menteri Lingkungan Hidup dan Kehutanan Nomor 5 Tahun 2021 tentang Tata Cara Penerbitan Persetujuan Teknis dan Surat Kelayakan Operasional Bidang Pengendalian Pencemaran Lingkungan', 'public/dasar-hukum/PermenLHK 5 thn 2021.pdf')">[Unduh]</a></td>
            </tr>
        </table>
  
        </div>
        <!--end col-md-6-->
  
      </div>
      <!--end row-->
      
      <div class="row align-items-center">
  
        <!--begin col-md-6-->
        <div class="col-md-12">
  
          <h3>3. Mekanisme</h3>
  
          <h5>A.	Tahapan yang dilakukan penanggung jawab usaha dan/atau kegiatan untuk mendapatkan Persetujuan Teknis: </h5>
          <table class="table table-borderless fs-5">
            <tr>
              <td width="5%">1.</td>
              <td>Melakukan penapisan secara mandiri.
                Dari penapisan secara mandiri akan diketahui dokumen teknis permohonan pertek tersebut berupa dokumen kajian teknis atau dokumen pemenuhan standar teknis. Ketentuan penyusunan dokumen kajian teknis atau standar teknis ini dapat dilihat pada Peraturan Menteri Lingkungan Hidup dan Kehutanan Nomor 5 Tahun 2021 tentang Tata Cara Penerbitan Persetujuan dan Surat Kelayakan Operasional Bidang Pengendalian Pencemaran Lingkungan
                </td>
            </tr>
            <tr>
              <td width="5%">2.</td>
              <td>2.	Mengajukan permohonan Persetujuan Teknis:</td>
            </tr>
            <tr>
                <td width="5%"></td>
                <td>A.	Untuk penanggung jawab usaha dan/atau kegiatan yang wajib Amdal, pengajuan pertek dilakukan bersamaan dengan permohonan persetujuan lingkungan atau sebelum melakukan persetujuan lingkungan</td>
            </tr>
            <tr>
              <td width="5%"></td>
              <td>B. Untuk penanggung jawab usaha dan/atau kegiatan yang wajib UKL-UPL, pengajuan pertek dilakukan sebelum mengajukan persetujuan lingkungan</td>
          </tr>

          </table>

          <h5>B. Tahapan yang dilakukan DLH untuk menerbitkan Persetujuan Teknis dan SLO: </h5>
          <table class="table table-borderless fs-5">
            <tr>
              <td width="5%">1.</td>
              <td>Pemeriksaan Dokumen Kajian Teknis/Standar Teknis</td>
            </tr>
            <tr>
              <td width="5%">2.</td>
              <td>Pembahasan Teknis Hasil Penilaian Substansi</td>
            </tr>
            <tr>
                <td width="5%"> 3.</td>
                <td>Penerbitan Persetujuan Teknis</td>
            </tr>
            <tr>
              <td width="5%">4.</td>
              <td>Verifikasi Sarana dan Prasarana Pengolahan Air Limbah dan/atau Pengendali Emisi</td>
            </tr>
            <tr>
              <td width="5%">5.</td>
              <td>Penerbitan SLO</td>
            </tr>

          </table>
  
        </div>
        <!--end col-md-6--> 
        <div class="row">
          <div class="row row-cols-1 row-cols-md-2 g-4">
              <img src="{{baseURL}}/assets/front/prosedur/teknis.jpg" style="width: 90% !important;"
                          class="card-img-top mx-auto" alt="...">
          </div>
          <div class="row row-cols-1 row-cols-md-2 g-4">
              <img src="{{baseURL}}/assets/front/prosedur/slo.jpg" style="width: 90% !important;"
                          class="card-img-top mx-auto" alt="...">
          </div>
        </div>
  
      </div>
    </div>
    <!--end container-->
  
  </section>

{% endblock %}