{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Struktur Organisasi Dinas Lingkungan Hidup dan Kebersihan</h1>
            <img src="{{baseURL}}/assets/front/so_baru.jpg" class="img-fluid mx-auto" alt="struktur.jpeg">
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}