{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Tugas dan Fungsi Bidang PPKLH DLH Kota Bandung</h1>
            <div class="offset-md-3 col-md-6 offset-md-2 mb-5">
                    <img src="{{baseURL}}/assets/front/sidilan.png" class="width-100 responsive-top-margins"
                        style="margin-top: 0px !important;" alt="logo.png">
            </div>
            <div class="col-md-12">
                <h5>Bidang Pengendalian Pencemaran dan Kerusakan Lingkungan Hidup terdiri atas Seksi Pemantauan Lingkungan, Seksi Pengendalian Pencemaran Lingkungan, dan Seksi Penanggulangan Kerusakan Lingkungan. Tugas Bidang PPKLH antara lain</h5>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Melaksanakan pemantauan kualitas lingkungan (air, udara, tanah) dan pemantauan sumber pencemar (institusi dan noninstitusi).</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Menyusun lndeks Kualitas Lingkungan Hidup.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Menyusun Persetujuan Teknis dan Surat Kelayakan Operasional Pemenuhan Baku Mutu Air Limbah dan Emisi Udara.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Menyusun kebijakan dan pembinaan terhadap sumber pencemar institusi dan noninstitusi.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Melaksanakan pemantauan dan penanggulangan kerusakan lingkungan.</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}