{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Visi dan Misi DLH Kota Bandung</h1>
            <div class="offset-md-3 col-md-6 offset-md-2 mb-5">
                    <img src="{{baseURL}}/assets/front/sidilan.png" class="width-100 responsive-top-margins"
                        style="margin-top: 0px !important;" alt="logo.png">
            </div>
            <div class="col-md-6">
                <h3>VISI</h3>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Terwujudnya Kota Bandung yang unggul, nyaman, sejahtera dan agamis.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3>MISI</h3>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Mewujudkan Bandung nyaman melalui perencanaan tata ruang, pembangunan infrastruktur serta pengendalian pemanfaatan ruang yang berkualitas dan berwawasan lingkungan.</td>
                    </tr>
                   
                </table>
            </div>
            <div class="col-md-6">
                <h3>Tujuan</h3>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Meningkatnya kualitas lingkungan hidup Kota Bandung.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Meningkatnya cakupan pengelolaan sampah Kota dengan sasaran startegis.</td>
                    </tr>
                    
                </table>
            </div>
            <div class="col-md-6">
                <h3>Sasaran Startegis</h3>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Meningkatnya kualitas udara, dengan indicator sasaran indeks kualitas udara (IKU).</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Meningkatnya kualitas air, dengan indicator sasaran indeks kualitas air (IKA).</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Terjaganya kualitas tutupan lahan, dengan indicator sasaran indeks kualitas tutupan lahan (IKTL).</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Meningkatnya cakupan pengelolaan sampah kota, dengan indikator sasaran capaian penanganan sampah dan capaian pengurangan sampah.</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}