{% extends "admin/layout.html" %} {% block content %}
<style>
  #all-cicilan_info, #all-denda_info, #all-simponi_info {
    padding-left: 5%;
  }
</style>
<script>
  const data_cicilan = {{ data_cicilan|json_encode(constant('JSON_HEX_TAG'))|raw }}
  const data_denda = {{ data_denda|json_encode(constant('JSON_HEX_TAG'))|raw }}
  const data_billing = {{ data_billing|json_encode(constant('JSON_HEX_TAG'))|raw }}
  const detail_pembayaran_billing = {{ detail_pembayaran_billing|json_encode(constant('JSON_HEX_TAG'))|raw }}
  const detail = `{{ detail }}`
</script>
{% if detail %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<div class="toolbar" id="kt_toolbar">
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1"><i class="bi bi-cash-coin fs-1"></i>&nbsp;Cicilan Rumah Negara Golongan III</h1>
          <span class="h-20px border-gray-300 border-start mx-4"></span>
          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">
              <a href="/dashboard" class="text-muted text-hover-primary">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">
              <a href="/cicilan" class="text-muted text-hover-primary">Cicilan Rumah Negara Golongan III</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Detail Cicilan</li>
          </ul>
			</div>
			<div class="d-flex align-items-center py-1">
			</div>
		</div>
	</div>

	<div class="post d-flex flex-column-fluid" id="kt_post">
		<div id="kt_content_container" class="container-xxl">
			<div class="row gy-5 g-xl-8">
				<div class="col-xl-12">
					<div class="card">
            <div class="card-header align-items-center py-5 gap-5">
              <div class="d-flex">
                <a href="/cicilan" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-square fs-1"></i> Kembali ke Data Cicilan</a>
              </div>
              <div class="d-flex">
                <a onclick="pembayaran({{ data_rumah.id }})" class="btn btn-success btn-sm me-2"><i class="bi bi-cash-stack fs-1"></i> Pembayaran </a>
                <a onclick="kodebilling({{ data_rumah.id }})" class="btn btn-primary btn-sm me-2"><i class="bi bi-pencil-square fs-1"></i> Request Billing</a>
              </div>
            </div>
            <div class="card-body">

              <div class="card" id="kt_profile_details_view">
                <div class="card-header cursor-pointer">
                  <div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
                    <div class="d-flex align-items-center flex-wrap gap-2">
                      <h1 class="fw-bold me-3 my-1"><i class="bi bi-code-slash fs-1 text-dark"></i> Detail Rumah, HD No :&nbsp; <b>{{ data_rumah.hdno }}</b></h1>
                    </div>
                    
                  </div>
                </div>
                <div class="card-body">
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">HD No
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="HD No" aria-label="HD no"></i></label>
                    <div class="col-lg-8">
                      <span class="fw-bolder fs-6 text-gray-800" id="is_hdno">{{ data_rumah.hdno }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Nama</label>
                    <div class="col-lg-8 fv-row">
                      <span class="fw-bolder fs-6 text-gray-800 me-2">{{ data_rumah.nama }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Alamat</label>
                    <div class="col-lg-8 d-flex align-items-center">
                      <span class="fw-bold text-gray-800 fs-6">{{ data_rumah.alamat }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Kelembagaan</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6">{{ data_rumah.lembaga }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Kabupaten, Provinsi</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6">{{ data_rumah.kabupaten }}, {{ data_rumah.provinsi }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Harga Total</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6" id="harga-total">{{ data_rumah.harga_tanah + data_rumah.harga_bangunan }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Angsuran Pertama</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6" id="angsuran-pertama">{{ data_rumah.uang_muka }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Angsuran Perbulan</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6" id="angsuran-perbulan">{{(data_rumah.harga_tanah + data_rumah.harga_bangunan - data_rumah.uang_muka) / data_rumah.lama_angsuran }}</span>
                    </div>
                  </div>
                  <div class="row mb-7">
                    <label class="col-lg-4 fw-bold text-muted">Lama Angsuran</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6">{{ data_rumah.lama_angsuran }} Bulan</span>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-lg-4 fw-bold text-muted">Sisa Piutang</label>
                    <div class="col-lg-8">
                      <span class="fw-bold text-gray-800 fs-6" id="sisa-piutang">{{ data_rumah.sisa_piutang }}</span>
                    </div>
                  </div>
                  
                </div>
              </div>

            </div>
          </div>          
				</div>
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header card-header-stretch border-bottom border-gray-200">
              <div class="card-title">
                <h1 class="fw-bold me-3 my-1"><i class="bi bi-code-slash fs-1 text-dark"></i> Pembayaran <b>CICILAN</b> Rumah, HD No :&nbsp; <b>{{ data_rumah.hdno }}</b></h1>
              </div>
            </div>
            <table id="all-cicilan" class="table table-row-bordered align-middle gy-4 gs-9">
              <thead class="border-bottom">
                <tr>
                  <td class="fw-bolder">No</td>
                  <td class="fw-bolder">Tanggal</td>
                  <td class="fw-bolder">Kode Billing</td>
                  <td class="fw-bolder">NTPN</td>
                  <td class="fw-bolder">NTB/P</td>
                  <td class="fw-bolder">Jenis</td>
                  <td class="fw-bolder">Setoran</td>
                  <td class="fw-bolder">Keterangan</td>
                  <td class="fw-bolder">Opsi</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header card-header-stretch border-bottom border-gray-200">
              <div class="card-title">
                <h1 class="fw-bold me-3 my-1"><i class="bi bi-code-slash fs-1 text-dark"></i> Pembayaran <b>DENDA</b> Rumah, HD No :&nbsp; <b>{{ data_rumah.hdno }}</b></h1>
              </div>
            </div>
            <table id="all-denda" class="table table-row-bordered align-middle gy-4 gs-9">
              <thead class="border-bottom">
                <tr>
                  <td class="fw-bolder">No</td>
                  <td class="fw-bolder">Tanggal</td>
                  <td class="fw-bolder">Kode Billing</td>
                  <td class="fw-bolder">NTPN</td>
                  <td class="fw-bolder">NTB/P</td>
                  <td class="fw-bolder">Setoran</td>
                  <td class="fw-bolder">Keterangan</td>
                  <td class="fw-bolder">Opsi</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header card-header-stretch border-bottom border-gray-200">
              <div class="card-title">
                <h1 class="fw-bold me-3 my-1"><i class="bi bi-code-slash fs-1 text-dark"></i> Billing SIMPONI, HD No :&nbsp; <b>{{ data_rumah.hdno }}</b></h1>
              </div>
            </div>
            <table id="all-simponi" class="table table-row-bordered align-middle gy-4 gs-9">
              <thead class="border-bottom">
                <tr>
                  <td class="fw-bolder">No</td>
                  <td class="fw-bolder">Nama WB</td>
                  <td class="fw-bolder">Tgl Req</td>
                  <td class="fw-bolder">Kode Billing</td>
                  <td class="fw-bolder">Tgl Billing</td>
                  <td class="fw-bolder">Tgl Exp</td>
                  <td class="fw-bolder">NTPN</td>
                  <td class="fw-bolder">NTB</td>
                  <td class="fw-bolder">Tgl Bayar</td>
                  <td class="fw-bolder">Total Nominal</td>
                  <td class="fw-bolder">Detail</td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
{% elseif detail_billing %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<div class="toolbar" id="kt_toolbar">
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1"><i class="bi bi-cash-coin fs-1"></i>&nbsp;Cicilan Rumah Negara Golongan III</h1>
          <span class="h-20px border-gray-300 border-start mx-4"></span>
          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">
              <a href="/dashboard" class="text-muted text-hover-primary">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">
              <a href="/cicilan" class="text-muted text-hover-primary">Cicilan Rumah Negara Golongan III</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Detail Permintaan Kode Billing SIMPONI</li>
          </ul>
			</div>
			<div class="d-flex align-items-center py-1">
			</div>
		</div>
	</div>
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<div id="kt_content_container" class="container-xxl">
			<div class="row gy-5 g-xl-8">
				<div class="col-xl-12">
					<div class="card">
            <div class="card-header align-items-center py-5 gap-5">
              <div class="d-flex">
                <a href="/detailcicilan/{{ detail_billing.id_rumah }}" class="btn btn-dark btn-sm"><i class="bi bi-arrow-left-square fs-1"></i> Kembali ke Detail Cicilan</a>
              </div>
              <div class="d-flex">
                <a onclick="" class="btn btn-primary btn-sm me-2"><i class="bi bi-printer fs-1"></i> Cetak Pembayaran </a>
              </div>
            </div>
            <div class="card-body">

              <div class="card" id="kt_profile_details_view">
                <div class="card-header cursor-pointer">
                  <div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
                    <div class="d-flex align-items-center flex-wrap gap-2">
                      <h1 class="fw-bold me-3 my-1"><i class="bi bi-code-slash fs-1 text-dark"></i> Detail Permintaan Kode Billing SIMPONI</h1>
                    </div>
                    
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card card-flush h-md-100">
                        <div class="card-header">
                          <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-gray-800">Detail Umum</span>
                          </h3>
                        </div>
                        <div class="card-body">
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">HD No
                              <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="HD No" aria-label="HD no"></i></label>
                            <div class="col-lg-8">
                              <span class="fw-bolder fs-6 text-gray-800" >{{ detail_billing.hdno }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Nama</label>
                            <div class="col-lg-8 fv-row">
                              <span class="fw-bolder fs-6 text-gray-800 me-2">{{ detail_billing.nama }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Alamat</label>
                            <div class="col-lg-8 d-flex align-items-center">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.alamat }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Nama Wajib Bayar</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.nama }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Total Nominal Billing</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.total_nominal_billing }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                      <div class="card card-flush h-md-100">
                        <div class="card-header">
                          <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-gray-800">Detail Req Billing</span>
                          </h3>
                        </div>
                        <div class="card-body"> 
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Kode Response</label>
                            <div class="col-lg-8">
                              <span class="fw-bolder fs-6 text-gray-800">{{ detail_billing.response_code }}:{{ detail_billing.message }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Kode Billing</label>
                            <div class="col-lg-8 fv-row">
                              <span class="fw-bolder fs-6 text-gray-800 me-2">{{ detail_billing.kode_billing }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Tgl Pembuatan Billing SIRN</label>
                            <div class="col-lg-8 d-flex align-items-center">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.created_at }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Tgl Pembuatan Billing SIMPONI</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.tgl_jam_billing }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Tgl Expired Billing SIMPONI</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.tgl_jam_expired_billing }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card card-flush h-md-100">
                        <div class="card-header">
                          <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-gray-800">Detail Pembayaran</span>
                          </h3>
                        </div>
                        <div class="card-body">     
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Kode Inquiry</label>
                            <div class="col-lg-8">
                              <span class="fw-bolder fs-6 text-gray-800">{{ detail_billing.code_inq }} : {{ detail_billing.message_inq }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">NTPN</label>
                            <div class="col-lg-8 fv-row">
                              <span class="fw-bolder fs-6 text-gray-800 me-2">{{ detail_billing.ntpn }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">NTB</label>
                            <div class="col-lg-8 d-flex align-items-center">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.ntb }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Tgl Pembayaran</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.tgl_jam_pembayaran }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Bank Persepsi</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.bank_persepsi }}</span>
                            </div>
                          </div>
                          <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">Channel Pembayaran</label>
                            <div class="col-lg-8">
                              <span class="fw-bold text-gray-800 fs-6">{{ detail_billing.channel_pembayaran }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>

            </div>
          </div>          
				</div>
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header card-header-stretch border-bottom border-gray-200">
              <div class="card-title">
                <h1 class="fw-bold me-3 my-1"><i class="bi bi-code-slash fs-1 text-dark"></i> Detail Billing</h1>
              </div>
            </div>
            <table id="all-billing-detail" class="table table-row-bordered align-middle gy-4 gs-9">
              <thead class="border-bottom">
                <tr>
                  <td class="fw-bolder">No</td>
                  <td class="fw-bolder">Nama Penyetor</td>
                  <td class="fw-bolder">Kode Akun</td>
                  <td class="fw-bolder">Tarif</td>
                  <td class="fw-bolder">Volume</td>
                  <td class="fw-bolder">Total Per Record</td>
                  <td class="fw-bolder">Keterangan</td>
                </tr>
              </thead>
              <tbody>
                {% for key, pembayaran in detail_pembayaran_billing %}
                  <tr>
                    <td>#{{ key+1 }}</td>
                    <td>{{ pembayaran.nama_wajib_bayar }}</td>
                    <td>{{ pembayaran.kode_akun }}</td>
                    <td>{{ pembayaran.nominal_tarif_pnbp }}</td>
                    <td>{{ pembayaran.volume }}</td>
                    <td>{{ pembayaran.total_tarif_per_record }}</td>
                    <td>{{ pembayaran.keterangan }}</td>
                  </tr>
                  {% endfor  %}
              </tbody>
            </table>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<div class="toolbar" id="kt_toolbar">
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1"><i class="bi bi-cash-coin fs-1"></i>&nbsp; Cicilan Rumah Negara Golongan III</h1>
          <span class="h-20px border-gray-300 border-start mx-4"></span>
          <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
            <li class="breadcrumb-item text-muted">
              <a href="dashboard" class="text-muted text-hover-primary">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <span class="bullet bg-gray-300 w-5px h-2px"></span>
            </li>
            <li class="breadcrumb-item text-muted">Cicilan Rumah Negara</li>
          </ul>
			</div>
			<div class="d-flex align-items-center py-1">
			</div>
		</div>
	</div>

	<div class="post d-flex flex-column-fluid" id="kt_post">
		<div id="kt_content_container" class="container-xxl">

			<div class="row gy-5 g-xl-8">
				<div class="col-xl-12">
					<div class="card card-xl-stretch mb-xl-8">
						<div class="card-header border-0 bg-warning">
							<div class="flex-grow-1 card-p pb-0">
                <div class="d-flex flex-stack flex-wrap">
                  <div class="me-2">
                    <div class="fs-1 fw-bold text-dark">Data Cicilan Rumah Negara Golongan III</div>
                    <div class="fs-7 fw-bold text-dark">Lihat Semua Data Rumah Negara</div>
                    <div class="fs-7 fw-bold text-dark"><p>Kolom <b>"Kelola Data"</b> adalah menu untuk <b>Melihat data cicilan</b>, <b>Request Kode Billing</b>, atau <b>Menginput pembayaran</b>.</p></div>
                  </div>
                </div>
              </div>
							
						</div>
						<div class="card-body pt-2">
              <div class="row">
                <div class="col-sm-12">
                  <div class="accordion" id="kt_accordion_1">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="kt_accordion_1_header_1">
                        <button class="accordion-button fs-4 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_1" aria-expanded="false" aria-controls="kt_accordion_1_body_1">
                          <i class="bi bi-funnel fs-3"></i> Atribut Pencarian
                      </button>
                      </h2>
                        <div id="kt_accordion_1_body_1" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_1" data-bs-parent="#kt_accordion_1">
                            <div class="accordion-body">
                              <div class="form-group row">
                                <div class="col-md-6">
                                  <label class="form-label">HDNO:</label>
                                  <input type="text" class="form-control mb-2 mb-md-6" placeholder="" id="hdno"/>
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Nama:</label>
                                  <input type="text" class="form-control mb-2 mb-md-6" placeholder="" id="nama"/>
                                </div>
                                <div class="col-md-12">
                                  <label class="form-label">Alamat:</label>
                                  <input type="text" class="form-control mb-2 mb-md-6" placeholder="" id="alamat"/>
                                </div>
                                <div class="col-md-12">
                                  <label class="form-label">Lembaga:</label>
                                  <select class="form-control mb-2 mb-md-6" id="lembaga" data-control="select2">
                                    <option value="0">Semua...</option>
                                    {% for lembaga in data_lembaga %}
                                    <option value="{{lembaga.id}}">{{lembaga.lembaga}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Provinsi:</label>
                                  <select class="form-control mb-2 mb-md-6" id="provinsi" onchange="getwilayah('kabupaten', this)" data-control="select2">
                                    <option value="0">Semua...</option>
                                    {% for provinsi in data_provinsi %}
                                    <option value="{{provinsi.id}}">{{provinsi.provinsi}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Kabupaten:</label>
                                  <select class="form-control mb-2 mb-md-6" id="kabupaten" onchange="getwilayah('kecamatan', this)" data-control="select2">
                                    <option value="0">Semua...</option>
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Kecamatan:</label>
                                  <select class="form-control mb-2 mb-md-6" id="kecamatan" data-control="select2">
                                    <option value="0">Semua...</option>
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Status:</label>
                                  <select class="form-control mb-2 mb-md-6" id="status">
                                    <option value="1" selected>Aktif</option>
                                    <option value="0">Non Aktif</option>
                                  </select>
                                </div>
                                <div class="col-md-12">
                                  <div class="d-flex justify-content-end py-6">
                                    <button type="reset" class="btn btn-light btn-active-light-primary me-2">Cetak Pencarian</button>
                                    <button type="button" class="btn btn-primary" onclick="loadcicilan()" ><i class="bi bi-funnel fs-1"></i> Pilih Pencarian</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                  <table id="all-cicilan" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                    <thead>
                        <tr>
                          <th class="fw-bolder">HD No</th>
                          <th class="fw-bolder">Nama Penghuni</th>
                          <th class="fw-bolder">Alamat</th>
                          <th class="fw-bolder">Harga (Rp.)</th>
                          <th class="fw-bolder">Pembayaran (Rp.)</th>
                          <th class="fw-bolder">Sisa (Rp.)</th>
                          <th class="fw-bolder">Target PNBP</th>
                          <th class="fw-bolder">Kelola Data</th>
                        </tr>
                    </thead>
                  </table>
                </div>
              </div>
              
							
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>
  </div>
</div>
{% endif %}

{% endblock %}
